In [1]:
from assets import models

In [2]:
import pandas as pd

from assets.database import db_session
from assets.models import Data

In [3]:
df = pd.read_csv('assets/data.csv')

In [4]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [5]:
#こうすることで、0行0列目の値を持ってくることができる
df.iloc[0,0]

'2019/1/17'

In [6]:
import datetime

In [7]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d')

datetime.datetime(2019, 1, 17, 0, 0)

In [8]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

In [9]:
#_dfは一行ずつとってくる
for index,_df in df.iterrows():
    date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
    row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
    db_session.add(row)
#db_session.commit()

In [10]:
db_session.commit()

2020-05-01 23:31:40,349 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-05-01 23:31:40,353 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 23:31:40,354 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-05-01 23:31:40,355 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 23:31:40,356 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 23:31:40,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,364 INFO sqlalchemy.engine.base.Engine ('2019-01-17', 2671, 194, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,367 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,369 INFO sqlalchemy.engine.base.Engine ('2019-01-18', 2671, 195, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,370 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,373 INFO sqlalchemy.engine.base.Engine ('2019-01-19', 2674, 197, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,375 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,376 INFO sqlalchemy.engine.base.Engine ('2019-01-20', 2685, 199, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,380 INFO sqlalchemy.engine.base.Engine ('2019-01-21', 2695, 199, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,382 INFO sqlalchemy.engine.base.Engine ('2019-01-22', 2701, 200, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,384 INFO sqlalchemy.engine.base.Engine ('2019-01-23', 2710, 200, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,387 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,388 INFO sqlalchemy.engine.base.Engine ('2019-01-24', 2718, 201, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,391 INFO sqlalchemy.engine.base.Engine ('2019-01-25', 2722, 201, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,393 INFO sqlalchemy.engine.base.Engine ('2019-01-26', 2725, 201, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,397 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,398 INFO sqlalchemy.engine.base.Engine ('2019-01-27', 2734, 202, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,400 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,402 INFO sqlalchemy.engine.base.Engine ('2019-01-28', 2753, 204, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,404 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,405 INFO sqlalchemy.engine.base.Engine ('2019-01-29', 2773, 206, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,409 INFO sqlalchemy.engine.base.Engine ('2019-01-30', 2785, 208, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,412 INFO sqlalchemy.engine.base.Engine ('2019-01-31', 2803, 210, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,413 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,414 INFO sqlalchemy.engine.base.Engine ('2019-02-01', 2845, 211, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,416 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,417 INFO sqlalchemy.engine.base.Engine ('2019-02-02', 2847, 213, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,418 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,420 INFO sqlalchemy.engine.base.Engine ('2019-02-03', 2847, 213, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,424 INFO sqlalchemy.engine.base.Engine ('2019-02-04', 2851, 217, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,425 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,426 INFO sqlalchemy.engine.base.Engine ('2019-02-05', 2852, 218, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,431 INFO sqlalchemy.engine.base.Engine ('2019-02-06', 2857, 219, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,433 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,435 INFO sqlalchemy.engine.base.Engine ('2019-02-07', 2861, 220, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,439 INFO sqlalchemy.engine.base.Engine ('2019-02-08', 2865, 222, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,441 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,442 INFO sqlalchemy.engine.base.Engine ('2019-02-09', 2870, 224, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,444 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,447 INFO sqlalchemy.engine.base.Engine ('2019-02-10', 2875, 224, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,448 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,449 INFO sqlalchemy.engine.base.Engine ('2019-02-11', 2892, 227, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,453 INFO sqlalchemy.engine.base.Engine ('2019-02-12', 2906, 229, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,455 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,457 INFO sqlalchemy.engine.base.Engine ('2019-02-13', 2919, 229, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,459 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,461 INFO sqlalchemy.engine.base.Engine ('2019-02-14', 2942, 231, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,464 INFO sqlalchemy.engine.base.Engine ('2019-02-15', 2974, 232, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,467 INFO sqlalchemy.engine.base.Engine ('2019-02-16', 2977, 234, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:40,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,469 INFO sqlalchemy.engine.base.Engine ('2019-02-17', 2978, 234, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,471 INFO sqlalchemy.engine.base.Engine ('2019-02-18', 2981, 234, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,473 INFO sqlalchemy.engine.base.Engine ('2019-02-19', 2983, 234, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,474 INFO sqlalchemy.engine.base.Engine ('2019-02-20', 2984, 237, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,475 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,477 INFO sqlalchemy.engine.base.Engine ('2019-02-21', 2987, 239, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,480 INFO sqlalchemy.engine.base.Engine ('2019-02-22', 2989, 239, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,483 INFO sqlalchemy.engine.base.Engine ('2019-02-23', 2993, 241, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,485 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,486 INFO sqlalchemy.engine.base.Engine ('2019-02-24', 2995, 241, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,487 INFO sqlalchemy.engine.base.Engine ('2019-02-25', 3009, 241, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,489 INFO sqlalchemy.engine.base.Engine ('2019-02-26', 3014, 243, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,492 INFO sqlalchemy.engine.base.Engine ('2019-02-27', 3023, 243, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,496 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,498 INFO sqlalchemy.engine.base.Engine ('2019-02-28', 3031, 243, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,502 INFO sqlalchemy.engine.base.Engine ('2019-03-01', 3052, 244, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,503 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,503 INFO sqlalchemy.engine.base.Engine ('2019-03-02', 3060, 245, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,504 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,505 INFO sqlalchemy.engine.base.Engine ('2019-03-03', 3062, 246, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,508 INFO sqlalchemy.engine.base.Engine ('2019-03-04', 3063, 249, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,509 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,511 INFO sqlalchemy.engine.base.Engine ('2019-03-05', 3066, 252, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,512 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,513 INFO sqlalchemy.engine.base.Engine ('2019-03-06', 3071, 254, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,515 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,516 INFO sqlalchemy.engine.base.Engine ('2019-03-07', 3074, 255, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,517 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,519 INFO sqlalchemy.engine.base.Engine ('2019-03-08', 3076, 256, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,520 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,524 INFO sqlalchemy.engine.base.Engine ('2019-03-09', 3077, 258, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,526 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,527 INFO sqlalchemy.engine.base.Engine ('2019-03-10', 3080, 258, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,531 INFO sqlalchemy.engine.base.Engine ('2019-03-11', 3087, 261, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,532 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,534 INFO sqlalchemy.engine.base.Engine ('2019-03-12', 3089, 261, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,537 INFO sqlalchemy.engine.base.Engine ('2019-03-13', 3093, 262, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,539 INFO sqlalchemy.engine.base.Engine ('2019-03-14', 3098, 262, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,543 INFO sqlalchemy.engine.base.Engine ('2019-03-15', 3104, 262, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,546 INFO sqlalchemy.engine.base.Engine ('2019-03-16', 3112, 262, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,550 INFO sqlalchemy.engine.base.Engine ('2019-03-17', 3120, 262, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,552 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,554 INFO sqlalchemy.engine.base.Engine ('2019-03-18', 3131, 265, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,557 INFO sqlalchemy.engine.base.Engine ('2019-03-19', 3142, 266, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,559 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,561 INFO sqlalchemy.engine.base.Engine ('2019-03-20', 3162, 266, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,563 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,565 INFO sqlalchemy.engine.base.Engine ('2019-03-21', 3173, 268, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:40,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,569 INFO sqlalchemy.engine.base.Engine ('2019-03-22', 3180, 269, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,574 INFO sqlalchemy.engine.base.Engine ('2019-03-23', 3187, 271, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,577 INFO sqlalchemy.engine.base.Engine ('2019-03-24', 3189, 271, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,581 INFO sqlalchemy.engine.base.Engine ('2019-03-25', 3196, 274, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,584 INFO sqlalchemy.engine.base.Engine ('2019-03-26', 3212, 274, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,586 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,588 INFO sqlalchemy.engine.base.Engine ('2019-03-27', 3220, 274, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,591 INFO sqlalchemy.engine.base.Engine ('2019-03-28', 3226, 275, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,595 INFO sqlalchemy.engine.base.Engine ('2019-03-29', 3241, 275, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,598 INFO sqlalchemy.engine.base.Engine ('2019-03-30', 3253, 278, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,599 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,600 INFO sqlalchemy.engine.base.Engine ('2019-03-31', 3255, 278, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,602 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,603 INFO sqlalchemy.engine.base.Engine ('2019-04-01', 3258, 280, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,605 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,607 INFO sqlalchemy.engine.base.Engine ('2019-04-02', 3262, 282, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,611 INFO sqlalchemy.engine.base.Engine ('2019-04-03', 3264, 282, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,613 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,614 INFO sqlalchemy.engine.base.Engine ('2019-04-04', 3272, 282, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,617 INFO sqlalchemy.engine.base.Engine ('2019-04-05', 3275, 284, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,620 INFO sqlalchemy.engine.base.Engine ('2019-04-06', 3276, 287, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,622 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,624 INFO sqlalchemy.engine.base.Engine ('2019-04-07', 3279, 289, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,627 INFO sqlalchemy.engine.base.Engine ('2019-04-08', 3285, 289, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,630 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,631 INFO sqlalchemy.engine.base.Engine ('2019-04-09', 3300, 291, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,633 INFO sqlalchemy.engine.base.Engine ('2019-04-10', 3306, 293, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,637 INFO sqlalchemy.engine.base.Engine ('2019-04-11', 3312, 295, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,641 INFO sqlalchemy.engine.base.Engine ('2019-04-12', 3319, 295, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,643 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,644 INFO sqlalchemy.engine.base.Engine ('2019-04-13', 3324, 295, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,646 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,648 INFO sqlalchemy.engine.base.Engine ('2019-04-14', 3325, 297, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,651 INFO sqlalchemy.engine.base.Engine ('2019-04-15', 3329, 298, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,653 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,654 INFO sqlalchemy.engine.base.Engine ('2019-04-16', 3331, 299, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,658 INFO sqlalchemy.engine.base.Engine ('2019-04-17', 3332, 299, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,660 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,661 INFO sqlalchemy.engine.base.Engine ('2019-04-18', 3333, 299, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,663 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,664 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 3336, 299, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,665 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,666 INFO sqlalchemy.engine.base.Engine ('2019-04-20', 3339, 299, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,668 INFO sqlalchemy.engine.base.Engine ('2019-04-21', 3343, 300, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,671 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,673 INFO sqlalchemy.engine.base.Engine ('2019-04-22', 3349, 302, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,676 INFO sqlalchemy.engine.base.Engine ('2019-04-23', 3357, 303, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:40,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,680 INFO sqlalchemy.engine.base.Engine ('2019-04-24', 3370, 303, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,682 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,683 INFO sqlalchemy.engine.base.Engine ('2019-04-25', 3388, 304, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,685 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,687 INFO sqlalchemy.engine.base.Engine ('2019-04-26', 3412, 304, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,689 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,691 INFO sqlalchemy.engine.base.Engine ('2019-04-27', 3437, 305, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,693 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,694 INFO sqlalchemy.engine.base.Engine ('2019-04-28', 3439, 305, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,697 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,698 INFO sqlalchemy.engine.base.Engine ('2019-04-29', 3440, 308, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,701 INFO sqlalchemy.engine.base.Engine ('2019-04-30', 3447, 309, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,703 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,705 INFO sqlalchemy.engine.base.Engine ('2019-05-01', 3466, 310, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,709 INFO sqlalchemy.engine.base.Engine ('2019-05-02', 3481, 311, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,713 INFO sqlalchemy.engine.base.Engine ('2019-05-03', 3504, 314, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,716 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,717 INFO sqlalchemy.engine.base.Engine ('2019-05-04', 3522, 317, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,720 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,722 INFO sqlalchemy.engine.base.Engine ('2019-05-05', 3527, 322, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,724 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,725 INFO sqlalchemy.engine.base.Engine ('2019-05-06', 3533, 324, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,727 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,729 INFO sqlalchemy.engine.base.Engine ('2019-05-07', 3543, 327, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,731 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,732 INFO sqlalchemy.engine.base.Engine ('2019-05-08', 3546, 328, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,733 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,734 INFO sqlalchemy.engine.base.Engine ('2019-05-09', 3555, 330, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,736 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,737 INFO sqlalchemy.engine.base.Engine ('2019-05-10', 3566, 332, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,742 INFO sqlalchemy.engine.base.Engine ('2019-05-11', 3583, 334, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,743 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,745 INFO sqlalchemy.engine.base.Engine ('2019-05-12', 3594, 335, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,747 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,748 INFO sqlalchemy.engine.base.Engine ('2019-05-13', 3614, 338, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,750 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,751 INFO sqlalchemy.engine.base.Engine ('2019-05-14', 3633, 340, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,755 INFO sqlalchemy.engine.base.Engine ('2019-05-15', 3647, 344, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,758 INFO sqlalchemy.engine.base.Engine ('2019-05-16', 3648, 349, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,761 INFO sqlalchemy.engine.base.Engine ('2019-05-17', 3649, 349, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,764 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,765 INFO sqlalchemy.engine.base.Engine ('2019-05-18', 3651, 351, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,767 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,769 INFO sqlalchemy.engine.base.Engine ('2019-05-19', 3654, 351, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,770 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,772 INFO sqlalchemy.engine.base.Engine ('2019-05-20', 3658, 354, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,776 INFO sqlalchemy.engine.base.Engine ('2019-05-21', 3671, 354, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,777 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,780 INFO sqlalchemy.engine.base.Engine ('2019-05-22', 3675, 359, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,781 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,783 INFO sqlalchemy.engine.base.Engine ('2019-05-23', 3681, 359, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,786 INFO sqlalchemy.engine.base.Engine ('2019-05-24', 3694, 361, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,789 INFO sqlalchemy.engine.base.Engine ('2019-05-25', 3699, 361, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,791 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,792 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 3711, 364, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:40,793 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,794 INFO sqlalchemy.engine.base.Engine ('2019-05-27', 3722, 368, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,799 INFO sqlalchemy.engine.base.Engine ('2019-05-28', 3734, 373, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,801 INFO sqlalchemy.engine.base.Engine ('2019-05-29', 3766, 374, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,804 INFO sqlalchemy.engine.base.Engine ('2019-05-30', 3781, 375, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,808 INFO sqlalchemy.engine.base.Engine ('2019-05-31', 3784, 375, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,810 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,812 INFO sqlalchemy.engine.base.Engine ('2019-06-01', 3789, 378, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,815 INFO sqlalchemy.engine.base.Engine ('2019-06-02', 3790, 379, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,817 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,819 INFO sqlalchemy.engine.base.Engine ('2019-06-03', 3793, 380, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,821 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,823 INFO sqlalchemy.engine.base.Engine ('2019-06-04', 3795, 383, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,826 INFO sqlalchemy.engine.base.Engine ('2019-06-05', 3808, 385, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,828 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,830 INFO sqlalchemy.engine.base.Engine ('2019-06-06', 3830, 386, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,831 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,833 INFO sqlalchemy.engine.base.Engine ('2019-06-07', 3843, 387, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,836 INFO sqlalchemy.engine.base.Engine ('2019-06-08', 3857, 390, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,840 INFO sqlalchemy.engine.base.Engine ('2019-06-09', 3870, 394, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,841 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,843 INFO sqlalchemy.engine.base.Engine ('2019-06-10', 3895, 395, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,845 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,846 INFO sqlalchemy.engine.base.Engine ('2019-06-11', 3919, 397, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,847 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,848 INFO sqlalchemy.engine.base.Engine ('2019-06-12', 3942, 399, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,852 INFO sqlalchemy.engine.base.Engine ('2019-06-13', 3983, 402, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,856 INFO sqlalchemy.engine.base.Engine ('2019-06-14', 4022, 404, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,858 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,859 INFO sqlalchemy.engine.base.Engine ('2019-06-15', 4053, 409, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,861 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,863 INFO sqlalchemy.engine.base.Engine ('2019-06-16', 4058, 410, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,865 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,866 INFO sqlalchemy.engine.base.Engine ('2019-06-17', 4063, 414, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,869 INFO sqlalchemy.engine.base.Engine ('2019-06-18', 4064, 417, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,873 INFO sqlalchemy.engine.base.Engine ('2019-06-19', 4065, 422, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,876 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,877 INFO sqlalchemy.engine.base.Engine ('2019-06-20', 4066, 424, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,881 INFO sqlalchemy.engine.base.Engine ('2019-06-21', 4069, 425, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,884 INFO sqlalchemy.engine.base.Engine ('2019-06-22', 4070, 426, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,885 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,887 INFO sqlalchemy.engine.base.Engine ('2019-06-23', 4073, 427, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,891 INFO sqlalchemy.engine.base.Engine ('2019-06-24', 4084, 427, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,893 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,894 INFO sqlalchemy.engine.base.Engine ('2019-06-25', 4108, 427, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,896 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,898 INFO sqlalchemy.engine.base.Engine ('2019-06-26', 4122, 433, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,899 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,900 INFO sqlalchemy.engine.base.Engine ('2019-06-27', 4132, 436, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,902 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,903 INFO sqlalchemy.engine.base.Engine ('2019-06-28', 4150, 440, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:40,904 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,906 INFO sqlalchemy.engine.base.Engine ('2019-06-29', 4162, 440, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,908 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,909 INFO sqlalchemy.engine.base.Engine ('2019-06-30', 4164, 446, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,912 INFO sqlalchemy.engine.base.Engine ('2019-07-01', 4167, 448, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,914 INFO sqlalchemy.engine.base.Engine ('2019-07-02', 4174, 450, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,915 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,919 INFO sqlalchemy.engine.base.Engine ('2019-07-03', 4179, 455, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,921 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,923 INFO sqlalchemy.engine.base.Engine ('2019-07-04', 4187, 456, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,927 INFO sqlalchemy.engine.base.Engine ('2019-07-05', 4200, 456, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,930 INFO sqlalchemy.engine.base.Engine ('2019-07-06', 4210, 458, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,934 INFO sqlalchemy.engine.base.Engine ('2019-07-07', 4211, 458, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,936 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,938 INFO sqlalchemy.engine.base.Engine ('2019-07-08', 4214, 464, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,941 INFO sqlalchemy.engine.base.Engine ('2019-07-09', 4219, 464, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,944 INFO sqlalchemy.engine.base.Engine ('2019-07-10', 4223, 468, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,946 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,948 INFO sqlalchemy.engine.base.Engine ('2019-07-11', 4228, 469, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,950 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,951 INFO sqlalchemy.engine.base.Engine ('2019-07-12', 4236, 469, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,954 INFO sqlalchemy.engine.base.Engine ('2019-07-13', 4239, 471, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,958 INFO sqlalchemy.engine.base.Engine ('2019-07-14', 4243, 471, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,961 INFO sqlalchemy.engine.base.Engine ('2019-07-15', 4250, 473, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,964 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,965 INFO sqlalchemy.engine.base.Engine ('2019-07-16', 4265, 476, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,968 INFO sqlalchemy.engine.base.Engine ('2019-07-17', 4288, 476, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,971 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,973 INFO sqlalchemy.engine.base.Engine ('2019-07-18', 4313, 483, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,976 INFO sqlalchemy.engine.base.Engine ('2019-07-19', 4329, 483, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,978 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,979 INFO sqlalchemy.engine.base.Engine ('2019-07-20', 4329, 486, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,981 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,982 INFO sqlalchemy.engine.base.Engine ('2019-07-21', 4329, 487, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,984 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,986 INFO sqlalchemy.engine.base.Engine ('2019-07-22', 4333, 492, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,989 INFO sqlalchemy.engine.base.Engine ('2019-07-23', 4335, 493, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,992 INFO sqlalchemy.engine.base.Engine ('2019-07-24', 4353, 494, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:40,996 INFO sqlalchemy.engine.base.Engine ('2019-07-25', 4370, 496, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:40,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,000 INFO sqlalchemy.engine.base.Engine ('2019-07-26', 4397, 500, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,002 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,005 INFO sqlalchemy.engine.base.Engine ('2019-07-27', 4419, 504, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,007 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,008 INFO sqlalchemy.engine.base.Engine ('2019-07-28', 4422, 507, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,011 INFO sqlalchemy.engine.base.Engine ('2019-07-29', 4423, 513, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,014 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,015 INFO sqlalchemy.engine.base.Engine ('2019-07-30', 4425, 516, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,017 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,018 INFO sqlalchemy.engine.base.Engine ('2019-07-31', 4427, 518, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,022 INFO sqlalchemy.engine.base.Engine ('2019-08-01', 4432, 519, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,023 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,024 INFO sqlalchemy.engine.base.Engine ('2019-08-02', 4433, 520, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,025 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,028 INFO sqlalchemy.engine.base.Engine ('2019-08-03', 4435, 522, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,030 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,032 INFO sqlalchemy.engine.base.Engine ('2019-08-04', 4437, 522, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,034 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,035 INFO sqlalchemy.engine.base.Engine ('2019-08-05', 4440, 526, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,037 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,039 INFO sqlalchemy.engine.base.Engine ('2019-08-06', 4444, 528, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,041 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,043 INFO sqlalchemy.engine.base.Engine ('2019-08-07', 4452, 528, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,045 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,046 INFO sqlalchemy.engine.base.Engine ('2019-08-08', 4466, 529, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,048 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,050 INFO sqlalchemy.engine.base.Engine ('2019-08-09', 4493, 529, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,051 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,052 INFO sqlalchemy.engine.base.Engine ('2019-08-10', 4521, 530, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,056 INFO sqlalchemy.engine.base.Engine ('2019-08-11', 4528, 531, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,060 INFO sqlalchemy.engine.base.Engine ('2019-08-12', 4529, 533, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,061 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,062 INFO sqlalchemy.engine.base.Engine ('2019-08-13', 4532, 534, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,063 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,064 INFO sqlalchemy.engine.base.Engine ('2019-08-14', 4534, 537, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,068 INFO sqlalchemy.engine.base.Engine ('2019-08-15', 4535, 537, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,070 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,072 INFO sqlalchemy.engine.base.Engine ('2019-08-16', 4539, 539, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,074 INFO sqlalchemy.engine.base.Engine ('2019-08-17', 4539, 540, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,076 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,076 INFO sqlalchemy.engine.base.Engine ('2019-08-18', 4541, 541, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,078 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,079 INFO sqlalchemy.engine.base.Engine ('2019-08-19', 4545, 544, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,082 INFO sqlalchemy.engine.base.Engine ('2019-08-20', 4545, 545, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,084 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,085 INFO sqlalchemy.engine.base.Engine ('2019-08-21', 4561, 548, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,088 INFO sqlalchemy.engine.base.Engine ('2019-08-22', 4590, 549, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,089 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,090 INFO sqlalchemy.engine.base.Engine ('2019-08-23', 4624, 549, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,091 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,095 INFO sqlalchemy.engine.base.Engine ('2019-08-24', 4641, 552, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,097 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,099 INFO sqlalchemy.engine.base.Engine ('2019-08-25', 4665, 554, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,100 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,102 INFO sqlalchemy.engine.base.Engine ('2019-08-26', 4702, 557, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,105 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,106 INFO sqlalchemy.engine.base.Engine ('2019-08-27', 4730, 561, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,109 INFO sqlalchemy.engine.base.Engine ('2019-08-28', 4761, 564, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,112 INFO sqlalchemy.engine.base.Engine ('2019-08-29', 4793, 566, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,114 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,116 INFO sqlalchemy.engine.base.Engine ('2019-08-30', 4846, 566, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,118 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,120 INFO sqlalchemy.engine.base.Engine ('2019-08-31', 4878, 571, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,122 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,124 INFO sqlalchemy.engine.base.Engine ('2019-09-01', 4884, 572, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,126 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,127 INFO sqlalchemy.engine.base.Engine ('2019-09-02', 4888, 573, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,129 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,130 INFO sqlalchemy.engine.base.Engine ('2019-09-03', 4887, 574, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,132 INFO sqlalchemy.engine.base.Engine ('2019-09-04', 4888, 575, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,134 INFO sqlalchemy.engine.base.Engine ('2019-09-05', 4890, 577, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,136 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,137 INFO sqlalchemy.engine.base.Engine ('2019-09-06', 4892, 577, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,139 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,141 INFO sqlalchemy.engine.base.Engine ('2019-09-07', 4894, 578, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,144 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,146 INFO sqlalchemy.engine.base.Engine ('2019-09-08', 4896, 578, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,149 INFO sqlalchemy.engine.base.Engine ('2019-09-09', 4907, 579, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,151 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,153 INFO sqlalchemy.engine.base.Engine ('2019-09-10', 4918, 581, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,156 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,158 INFO sqlalchemy.engine.base.Engine ('2019-09-11', 4935, 583, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,160 INFO sqlalchemy.engine.base.Engine ('2019-09-12', 4949, 583, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,165 INFO sqlalchemy.engine.base.Engine ('2019-09-13', 4965, 584, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,168 INFO sqlalchemy.engine.base.Engine ('2019-09-14', 4966, 587, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,170 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,172 INFO sqlalchemy.engine.base.Engine ('2019-09-15', 4966, 587, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,176 INFO sqlalchemy.engine.base.Engine ('2019-09-16', 4970, 590, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,178 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,180 INFO sqlalchemy.engine.base.Engine ('2019-09-17', 4972, 590, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,181 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,182 INFO sqlalchemy.engine.base.Engine ('2019-09-18', 4974, 592, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,184 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,186 INFO sqlalchemy.engine.base.Engine ('2019-09-19', 4996, 596, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,188 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,190 INFO sqlalchemy.engine.base.Engine ('2019-09-20', 4998, 601, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,193 INFO sqlalchemy.engine.base.Engine ('2019-09-21', 5001, 601, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,195 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,196 INFO sqlalchemy.engine.base.Engine ('2019-09-22', 5004, 603, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,198 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,199 INFO sqlalchemy.engine.base.Engine ('2019-09-23', 5005, 605, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,201 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,202 INFO sqlalchemy.engine.base.Engine ('2019-09-24', 5012, 605, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,204 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,207 INFO sqlalchemy.engine.base.Engine ('2019-09-25', 5023, 609, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,209 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,211 INFO sqlalchemy.engine.base.Engine ('2019-09-26', 5033, 609, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,213 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,215 INFO sqlalchemy.engine.base.Engine ('2019-09-27', 5068, 612, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,217 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,218 INFO sqlalchemy.engine.base.Engine ('2019-09-28', 5084, 613, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,220 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,221 INFO sqlalchemy.engine.base.Engine ('2019-09-29', 5088, 614, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,222 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,224 INFO sqlalchemy.engine.base.Engine ('2019-09-30', 5097, 615, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,225 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,228 INFO sqlalchemy.engine.base.Engine ('2019-10-01', 5113, 617, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,231 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,232 INFO sqlalchemy.engine.base.Engine ('2019-10-02', 5117, 618, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,234 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,235 INFO sqlalchemy.engine.base.Engine ('2019-10-03', 5120, 620, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,237 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,238 INFO sqlalchemy.engine.base.Engine ('2019-10-04', 5128, 622, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,239 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,240 INFO sqlalchemy.engine.base.Engine ('2019-10-05', 5133, 624, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,241 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,244 INFO sqlalchemy.engine.base.Engine ('2019-10-06', 5137, 628, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,248 INFO sqlalchemy.engine.base.Engine ('2019-10-07', 5144, 630, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,250 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,252 INFO sqlalchemy.engine.base.Engine ('2019-10-08', 5160, 633, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,254 INFO sqlalchemy.engine.base.Engine ('2019-10-09', 5166, 637, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,256 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,257 INFO sqlalchemy.engine.base.Engine ('2019-10-10', 5167, 639, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,261 INFO sqlalchemy.engine.base.Engine ('2019-10-11', 5168, 641, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,263 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,264 INFO sqlalchemy.engine.base.Engine ('2019-10-12', 5169, 644, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,266 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,266 INFO sqlalchemy.engine.base.Engine ('2019-10-13', 5170, 646, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,270 INFO sqlalchemy.engine.base.Engine ('2019-10-14', 5170, 649, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,272 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,274 INFO sqlalchemy.engine.base.Engine ('2019-10-15', 5179, 651, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,275 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,277 INFO sqlalchemy.engine.base.Engine ('2019-10-16', 5185, 651, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,280 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,281 INFO sqlalchemy.engine.base.Engine ('2019-10-17', 5187, 652, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,283 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,285 INFO sqlalchemy.engine.base.Engine ('2019-10-18', 5189, 653, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,287 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,288 INFO sqlalchemy.engine.base.Engine ('2019-10-19', 5191, 654, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,290 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,292 INFO sqlalchemy.engine.base.Engine ('2019-10-20', 5193, 655, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,294 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,296 INFO sqlalchemy.engine.base.Engine ('2019-10-21', 5194, 656, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,298 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,299 INFO sqlalchemy.engine.base.Engine ('2019-10-22', 5197, 658, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,301 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,302 INFO sqlalchemy.engine.base.Engine ('2019-10-23', 5210, 659, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,304 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,306 INFO sqlalchemy.engine.base.Engine ('2019-10-24', 5223, 663, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,308 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,310 INFO sqlalchemy.engine.base.Engine ('2019-10-25', 5232, 663, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,312 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,313 INFO sqlalchemy.engine.base.Engine ('2019-10-26', 5233, 664, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,315 INFO sqlalchemy.engine.base.Engine ('2019-10-27', 5234, 665, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,318 INFO sqlalchemy.engine.base.Engine ('2019-10-28', 5236, 666, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,320 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,322 INFO sqlalchemy.engine.base.Engine ('2019-10-29', 5240, 670, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,324 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,326 INFO sqlalchemy.engine.base.Engine ('2019-10-30', 5242, 671, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,328 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,330 INFO sqlalchemy.engine.base.Engine ('2019-10-31', 5243, 671, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,333 INFO sqlalchemy.engine.base.Engine ('2019-11-01', 5244, 674, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,335 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,336 INFO sqlalchemy.engine.base.Engine ('2019-11-02', 5246, 674, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,338 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,340 INFO sqlalchemy.engine.base.Engine ('2019-11-03', 5246, 676, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,342 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,343 INFO sqlalchemy.engine.base.Engine ('2019-11-04', 5247, 676, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,347 INFO sqlalchemy.engine.base.Engine ('2019-11-06', 5269, 679, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,349 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,350 INFO sqlalchemy.engine.base.Engine ('2019-11-07', 5284, 681, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,352 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,353 INFO sqlalchemy.engine.base.Engine ('2019-11-08', 5298, 683, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,355 INFO sqlalchemy.engine.base.Engine ('2019-11-09', 5307, 684, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,357 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,358 INFO sqlalchemy.engine.base.Engine ('2019-11-10', 5313, 687, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,361 INFO sqlalchemy.engine.base.Engine ('2019-11-11', 5314, 687, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,363 INFO sqlalchemy.engine.base.Engine ('2019-11-12', 5314, 688, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,364 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,364 INFO sqlalchemy.engine.base.Engine ('2019-11-13', 5316, 689, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,365 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,369 INFO sqlalchemy.engine.base.Engine ('2019-11-14', 5326, 691, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,371 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,373 INFO sqlalchemy.engine.base.Engine ('2019-11-15', 5337, 691, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,375 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,377 INFO sqlalchemy.engine.base.Engine ('2019-11-16', 5338, 692, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,379 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,380 INFO sqlalchemy.engine.base.Engine ('2019-11-17', 5342, 692, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,382 INFO sqlalchemy.engine.base.Engine ('2019-11-18', 5343, 695, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,384 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,385 INFO sqlalchemy.engine.base.Engine ('2019-11-19', 5347, 697, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,387 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,388 INFO sqlalchemy.engine.base.Engine ('2019-11-20', 5348, 697, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,391 INFO sqlalchemy.engine.base.Engine ('2019-11-21', 5351, 700, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,394 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,396 INFO sqlalchemy.engine.base.Engine ('2019-11-22', 5356, 700, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,398 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,401 INFO sqlalchemy.engine.base.Engine ('2019-11-23', 5383, 700, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,402 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,403 INFO sqlalchemy.engine.base.Engine ('2019-11-24', 5409, 704, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,405 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,406 INFO sqlalchemy.engine.base.Engine ('2019-11-25', 5435, 709, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,408 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,409 INFO sqlalchemy.engine.base.Engine ('2019-11-26', 5450, 714, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,412 INFO sqlalchemy.engine.base.Engine ('2019-11-27', 5479, 714, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,415 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,416 INFO sqlalchemy.engine.base.Engine ('2019-11-28', 5503, 715, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,424 INFO sqlalchemy.engine.base.Engine ('2019-11-29', 5554, 716, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,426 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,428 INFO sqlalchemy.engine.base.Engine ('2019-11-30', 5643, 718, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,431 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,433 INFO sqlalchemy.engine.base.Engine ('2019-12-01', 5652, 720, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,435 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,437 INFO sqlalchemy.engine.base.Engine ('2019-12-02', 5654, 723, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,440 INFO sqlalchemy.engine.base.Engine ('2019-12-03', 5678, 723, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,444 INFO sqlalchemy.engine.base.Engine ('2019-12-04', 5706, 723, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,446 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,450 INFO sqlalchemy.engine.base.Engine ('2019-12-05', 5747, 726, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,455 INFO sqlalchemy.engine.base.Engine ('2019-12-06', 5802, 728, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,458 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,460 INFO sqlalchemy.engine.base.Engine ('2019-12-07', 5807, 728, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,465 INFO sqlalchemy.engine.base.Engine ('2019-12-08', 5811, 732, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,470 INFO sqlalchemy.engine.base.Engine ('2019-12-09', 5811, 732, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,473 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,475 INFO sqlalchemy.engine.base.Engine ('2019-12-10', 5813, 735, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,478 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,481 INFO sqlalchemy.engine.base.Engine ('2019-12-11', 5819, 735, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,483 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,485 INFO sqlalchemy.engine.base.Engine ('2019-12-12', 5825, 737, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,490 INFO sqlalchemy.engine.base.Engine ('2019-12-13', 5830, 739, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,492 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,494 INFO sqlalchemy.engine.base.Engine ('2019-12-14', 5833, 739, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,497 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,498 INFO sqlalchemy.engine.base.Engine ('2019-12-15', 5837, 740, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,500 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,501 INFO sqlalchemy.engine.base.Engine ('2019-12-16', 5839, 742, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,503 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,505 INFO sqlalchemy.engine.base.Engine ('2019-12-17', 5840, 744, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,509 INFO sqlalchemy.engine.base.Engine ('2019-12-18', 5846, 745, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,511 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,513 INFO sqlalchemy.engine.base.Engine ('2019-12-19', 5847, 745, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,515 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,517 INFO sqlalchemy.engine.base.Engine ('2019-12-20', 5849, 746, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,519 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,520 INFO sqlalchemy.engine.base.Engine ('2019-12-21', 5850, 746, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,524 INFO sqlalchemy.engine.base.Engine ('2019-12-22', 5852, 746, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,525 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,526 INFO sqlalchemy.engine.base.Engine ('2019-12-23', 5870, 747, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,528 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,530 INFO sqlalchemy.engine.base.Engine ('2019-12-24', 5878, 748, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,531 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,532 INFO sqlalchemy.engine.base.Engine ('2019-12-25', 5888, 748, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,536 INFO sqlalchemy.engine.base.Engine ('2019-12-26', 5906, 749, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,539 INFO sqlalchemy.engine.base.Engine ('2019-12-27', 5927, 749, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,543 INFO sqlalchemy.engine.base.Engine ('2019-12-28', 5930, 749, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,546 INFO sqlalchemy.engine.base.Engine ('2019-12-29', 5933, 750, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,550 INFO sqlalchemy.engine.base.Engine ('2019-12-30', 5936, 752, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,553 INFO sqlalchemy.engine.base.Engine ('2019-12-31', 5937, 753, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,555 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,557 INFO sqlalchemy.engine.base.Engine ('2020-01-01', 5964, 760, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,560 INFO sqlalchemy.engine.base.Engine ('2020-01-02', 5989, 764, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,562 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,563 INFO sqlalchemy.engine.base.Engine ('2020-01-03', 5999, 768, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,567 INFO sqlalchemy.engine.base.Engine ('2020-01-04', 6011, 768, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,570 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,571 INFO sqlalchemy.engine.base.Engine ('2020-01-05', 6023, 771, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,573 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,575 INFO sqlalchemy.engine.base.Engine ('2020-01-06', 6042, 772, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,578 INFO sqlalchemy.engine.base.Engine ('2020-01-07', 6060, 776, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,582 INFO sqlalchemy.engine.base.Engine ('2020-01-08', 6089, 778, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,584 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,586 INFO sqlalchemy.engine.base.Engine ('2020-01-09', 6121, 780, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,590 INFO sqlalchemy.engine.base.Engine ('2020-01-10', 6174, 781, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,592 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,593 INFO sqlalchemy.engine.base.Engine ('2020-01-11', 6178, 782, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,597 INFO sqlalchemy.engine.base.Engine ('2020-01-12', 6182, 784, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,600 INFO sqlalchemy.engine.base.Engine ('2020-01-13', 6188, 784, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,601 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,603 INFO sqlalchemy.engine.base.Engine ('2020-01-14', 6191, 788, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,605 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,607 INFO sqlalchemy.engine.base.Engine ('2020-01-15', 6193, 792, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,611 INFO sqlalchemy.engine.base.Engine ('2020-01-16', 6196, 793, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,613 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,615 INFO sqlalchemy.engine.base.Engine ('2020-01-17', 6201, 793, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,617 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,618 INFO sqlalchemy.engine.base.Engine ('2020-01-18', 6200, 795, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,621 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,622 INFO sqlalchemy.engine.base.Engine ('2020-01-19', 6204, 797, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,626 INFO sqlalchemy.engine.base.Engine ('2020-01-20', 6206, 801, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,630 INFO sqlalchemy.engine.base.Engine ('2020-01-21', 6212, 803, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,633 INFO sqlalchemy.engine.base.Engine ('2020-01-22', 6213, 806, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,636 INFO sqlalchemy.engine.base.Engine ('2020-01-23', 6215, 808, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,639 INFO sqlalchemy.engine.base.Engine ('2020-01-24', 6219, 808, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,642 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,643 INFO sqlalchemy.engine.base.Engine ('2020-01-25', 6222, 811, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,646 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,648 INFO sqlalchemy.engine.base.Engine ('2020-01-26', 6223, 811, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,649 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,652 INFO sqlalchemy.engine.base.Engine ('2020-01-27', 6224, 811, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,655 INFO sqlalchemy.engine.base.Engine ('2020-01-28', 6229, 812, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,657 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,658 INFO sqlalchemy.engine.base.Engine ('2020-01-29', 6248, 812, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,660 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,663 INFO sqlalchemy.engine.base.Engine ('2020-01-30', 6281, 813, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,665 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,667 INFO sqlalchemy.engine.base.Engine ('2020-01-31', 6286, 816, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,670 INFO sqlalchemy.engine.base.Engine ('2020-02-01', 6291, 820, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,672 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,674 INFO sqlalchemy.engine.base.Engine ('2020-02-02', 6294, 820, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,676 INFO sqlalchemy.engine.base.Engine ('2020-02-03', 6299, 820, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,679 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,681 INFO sqlalchemy.engine.base.Engine ('2020-02-04', 6310, 821, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,684 INFO sqlalchemy.engine.base.Engine ('2020-02-05', 6319, 824, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,687 INFO sqlalchemy.engine.base.Engine ('2020-02-06', 6337, 827, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,689 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,690 INFO sqlalchemy.engine.base.Engine ('2020-02-07', 6352, 829, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,693 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 6353, 833, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,698 INFO sqlalchemy.engine.base.Engine ('2020-02-09', 6356, 834, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,700 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,702 INFO sqlalchemy.engine.base.Engine ('2020-02-10', 6359, 836, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,705 INFO sqlalchemy.engine.base.Engine ('2020-02-11', 6361, 843, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,707 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,709 INFO sqlalchemy.engine.base.Engine ('2020-02-12', 6366, 845, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,710 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,712 INFO sqlalchemy.engine.base.Engine ('2020-02-13', 6370, 848, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,713 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,715 INFO sqlalchemy.engine.base.Engine ('2020-02-14', 6387, 852, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,717 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,719 INFO sqlalchemy.engine.base.Engine ('2020-02-15', 6399, 854, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,721 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,723 INFO sqlalchemy.engine.base.Engine ('2020-02-16', 6399, 854, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,725 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,727 INFO sqlalchemy.engine.base.Engine ('2020-02-17', 6407, 857, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,730 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,732 INFO sqlalchemy.engine.base.Engine ('2020-02-18', 6411, 860, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,734 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,735 INFO sqlalchemy.engine.base.Engine ('2020-02-19', 6412, 861, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,737 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,738 INFO sqlalchemy.engine.base.Engine ('2020-02-20', 6413, 861, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,742 INFO sqlalchemy.engine.base.Engine ('2020-02-21', 6428, 862, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,746 INFO sqlalchemy.engine.base.Engine ('2020-02-22', 6436, 862, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,749 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,750 INFO sqlalchemy.engine.base.Engine ('2020-02-23', 6439, 867, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,752 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,753 INFO sqlalchemy.engine.base.Engine ('2020-02-24', 6442, 868, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,755 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,756 INFO sqlalchemy.engine.base.Engine ('2020-02-25', 6455, 869, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,761 INFO sqlalchemy.engine.base.Engine ('2020-02-26', 6460, 871, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,764 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,765 INFO sqlalchemy.engine.base.Engine ('2020-02-27', 6470, 872, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,767 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,768 INFO sqlalchemy.engine.base.Engine ('2020-02-28', 6482, 873, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,770 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,771 INFO sqlalchemy.engine.base.Engine ('2020-02-29', 6495, 876, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,774 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,775 INFO sqlalchemy.engine.base.Engine ('2020-03-01', 6500, 876, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,778 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,780 INFO sqlalchemy.engine.base.Engine ('2020-03-02', 6504, 878, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,782 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,783 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6510, 885, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,786 INFO sqlalchemy.engine.base.Engine ('2020-03-04', 6519, 890, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,789 INFO sqlalchemy.engine.base.Engine ('2020-03-05', 6527, 893, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,791 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,793 INFO sqlalchemy.engine.base.Engine ('2020-03-06', 6534, 894, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,797 INFO sqlalchemy.engine.base.Engine ('2020-03-07', 6539, 894, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,799 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,800 INFO sqlalchemy.engine.base.Engine ('2020-03-08', 6549, 897, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,802 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,804 INFO sqlalchemy.engine.base.Engine ('2020-03-09', 6568, 897, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,808 INFO sqlalchemy.engine.base.Engine ('2020-03-10', 6590, 902, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,810 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,812 INFO sqlalchemy.engine.base.Engine ('2020-03-11', 6609, 906, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,816 INFO sqlalchemy.engine.base.Engine ('2020-03-12', 6636, 909, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,818 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,819 INFO sqlalchemy.engine.base.Engine ('2020-03-13', 6640, 909, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,821 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,822 INFO sqlalchemy.engine.base.Engine ('2020-03-14', 6645, 911, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,825 INFO sqlalchemy.engine.base.Engine ('2020-03-15', 6649, 916, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,829 INFO sqlalchemy.engine.base.Engine ('2020-03-16', 6652, 920, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,832 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,834 INFO sqlalchemy.engine.base.Engine ('2020-03-17', 6672, 922, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,836 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,838 INFO sqlalchemy.engine.base.Engine ('2020-03-18', 6687, 926, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,841 INFO sqlalchemy.engine.base.Engine ('2020-03-19', 6707, 928, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,844 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,845 INFO sqlalchemy.engine.base.Engine ('2020-03-20', 6729, 933, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,848 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,850 INFO sqlalchemy.engine.base.Engine ('2020-03-21', 6764, 934, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,851 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,853 INFO sqlalchemy.engine.base.Engine ('2020-03-22', 6771, 939, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,855 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,856 INFO sqlalchemy.engine.base.Engine ('2020-03-23', 6776, 943, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,859 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,861 INFO sqlalchemy.engine.base.Engine ('2020-03-24', 6783, 948, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,864 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,866 INFO sqlalchemy.engine.base.Engine ('2020-03-25', 6785, 950, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,868 INFO sqlalchemy.engine.base.Engine ('2020-03-26', 6790, 951, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,869 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,870 INFO sqlalchemy.engine.base.Engine ('2020-03-27', 6792, 952, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,872 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,873 INFO sqlalchemy.engine.base.Engine ('2020-03-28', 6798, 953, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,876 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,878 INFO sqlalchemy.engine.base.Engine ('2020-03-29', 6805, 957, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,880 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,882 INFO sqlalchemy.engine.base.Engine ('2020-03-30', 6809, 958, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,883 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,884 INFO sqlalchemy.engine.base.Engine ('2020-03-31', 6832, 963, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,887 INFO sqlalchemy.engine.base.Engine ('2020-04-01', 6867, 968, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,891 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,893 INFO sqlalchemy.engine.base.Engine ('2020-04-02', 6868, 974, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,896 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,898 INFO sqlalchemy.engine.base.Engine ('2020-04-03', 6877, 977, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,900 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,901 INFO sqlalchemy.engine.base.Engine ('2020-04-04', 6882, 979, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,904 INFO sqlalchemy.engine.base.Engine ('2020-04-05', 6886, 979, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,906 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,908 INFO sqlalchemy.engine.base.Engine ('2020-04-06', 6892, 982, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,912 INFO sqlalchemy.engine.base.Engine ('2020-04-07', 6912, 987, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,915 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,917 INFO sqlalchemy.engine.base.Engine ('2020-04-08', 6913, 991, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,918 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,920 INFO sqlalchemy.engine.base.Engine ('2020-04-09', 6921, 993, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,921 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,923 INFO sqlalchemy.engine.base.Engine ('2020-04-10', 6927, 995, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,926 INFO sqlalchemy.engine.base.Engine ('2020-04-11', 6938, 996, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,927 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,928 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,931 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,931 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,934 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,935 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,936 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,937 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,938 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,945 INFO sqlalchemy.engine.base.Engine ('2020-04-13', 6948, 1002, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,947 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,948 INFO sqlalchemy.engine.base.Engine ('2020-04-14', 6956, 1006, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,949 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,950 INFO sqlalchemy.engine.base.Engine ('2020-04-15', 6982, 1007, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,951 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,952 INFO sqlalchemy.engine.base.Engine ('2020-04-16', 7003, 1007, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,954 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,955 INFO sqlalchemy.engine.base.Engine ('2020-04-17', 7024, 1012, '2020-05-01 23:31:28.937458')

2020-05-01 23:31:41,957 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,959 INFO sqlalchemy.engine.base.Engine ('2020-04-18', 7050, 1016, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,961 INFO sqlalchemy.engine.base.Engine ('2020-04-19', 7092, 1017, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,964 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,965 INFO sqlalchemy.engine.base.Engine ('2020-04-20', 7154, 1021, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,967 INFO sqlalchemy.engine.base.Engine ('2020-04-21', 7233, 1028, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,969 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,971 INFO sqlalchemy.engine.base.Engine ('2020-04-22', 7245, 1031, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,976 INFO sqlalchemy.engine.base.Engine ('2020-04-23', 7257, 1033, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,978 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,979 INFO sqlalchemy.engine.base.Engine ('2020-04-24', 7265, 1045, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,981 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,982 INFO sqlalchemy.engine.base.Engine ('2020-04-25', 7269, 1048, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,983 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,985 INFO sqlalchemy.engine.base.Engine ('2020-04-26', 7276, 1053, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,988 INFO sqlalchemy.engine.base.Engine ('2020-04-27', 7281, 1055, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,991 INFO sqlalchemy.engine.base.Engine ('2020-04-28', 7290, 1059, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:41,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 23:31:41,994 INFO sqlalchemy.engine.base.Engine ('2020-04-29', 7328, 1064, '2020-05-01 23:31:28.937458')
2020-05-01 23:31:42,005 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
def read_data():
    from .assets import models
    df = pd.read_csv('assets/data.csv')

    #_dfは一行ずつとってくる
    for index,_df in df.iterrows():
    # date型への変更
        date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
        row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
        db_session.add(row)
    db_session.commit()