In [2]:
from assets import models

In [3]:
import pandas as pd

from assets.database import db_session
from assets.models import Data

In [4]:
df = pd.read_csv('assets/data.csv')

In [5]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [6]:
df.tail()

          date  subscribers  reviews
469  2020/4/27         7281     1055
470  2020/4/28         7290     1059
471  2020/4/29         7328     1063
472  2020/4/30         7353     1064
473   2020/5/1         7404     1069

In [5]:
#こうすることで、0行0列目の値を持ってくることができる
df.iloc[0,0]

'2019/1/17'

In [7]:
import datetime

In [8]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d')

datetime.datetime(2019, 1, 17, 0, 0)

In [8]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

In [9]:
#_dfは一行ずつとってくる
for index,_df in df.iterrows():
    date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
    row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
    db_session.add(row)
#db_session.commit()

In [10]:
db_session.commit()

2020-05-02 23:48:44,263 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-05-02 23:48:44,268 INFO sqlalchemy.engine.base.Engine ()
2020-05-02 23:48:44,271 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-05-02 23:48:44,273 INFO sqlalchemy.engine.base.Engine ()
2020-05-02 23:48:44,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-02 23:48:44,292 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,295 INFO sqlalchemy.engine.base.Engine ('2019-01-17', 2671, 194, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,303 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,307 INFO sqlalchemy.engine.base.Engine ('2019-01-18', 2671, 195, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,312 INFO sqlalchemy.engine.base.Engine ('2019-01-19', 2674, 197, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,315 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,318 INFO sqlalchemy.engine.base.Engine ('2019-01-20', 2685, 199, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,321 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,322 INFO sqlalchemy.engine.base.Engine ('2019-01-21', 2695, 199, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,328 INFO sqlalchemy.engine.base.Engine ('2019-01-22', 2701, 200, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,330 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,332 INFO sqlalchemy.engine.base.Engine ('2019-01-23', 2710, 200, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,335 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,336 INFO sqlalchemy.engine.base.Engine ('2019-01-24', 2718, 201, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,338 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,343 INFO sqlalchemy.engine.base.Engine ('2019-01-25', 2722, 201, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,345 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,347 INFO sqlalchemy.engine.base.Engine ('2019-01-26', 2725, 201, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,351 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,353 INFO sqlalchemy.engine.base.Engine ('2019-01-27', 2734, 202, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,358 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,358 INFO sqlalchemy.engine.base.Engine ('2019-01-28', 2753, 204, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,364 INFO sqlalchemy.engine.base.Engine ('2019-01-29', 2773, 206, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,368 INFO sqlalchemy.engine.base.Engine ('2019-01-30', 2785, 208, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,374 INFO sqlalchemy.engine.base.Engine ('2019-01-31', 2803, 210, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,377 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,379 INFO sqlalchemy.engine.base.Engine ('2019-02-01', 2845, 211, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,383 INFO sqlalchemy.engine.base.Engine ('2019-02-02', 2847, 213, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,388 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,390 INFO sqlalchemy.engine.base.Engine ('2019-02-03', 2847, 213, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,391 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,394 INFO sqlalchemy.engine.base.Engine ('2019-02-04', 2851, 217, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,396 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,400 INFO sqlalchemy.engine.base.Engine ('2019-02-05', 2852, 218, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,402 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,404 INFO sqlalchemy.engine.base.Engine ('2019-02-06', 2857, 219, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,408 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,411 INFO sqlalchemy.engine.base.Engine ('2019-02-07', 2861, 220, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,413 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,416 INFO sqlalchemy.engine.base.Engine ('2019-02-08', 2865, 222, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,419 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,421 INFO sqlalchemy.engine.base.Engine ('2019-02-09', 2870, 224, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,423 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,424 INFO sqlalchemy.engine.base.Engine ('2019-02-10', 2875, 224, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,430 INFO sqlalchemy.engine.base.Engine ('2019-02-11', 2892, 227, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,433 INFO sqlalchemy.engine.base.Engine ('2019-02-12', 2906, 229, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,438 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,439 INFO sqlalchemy.engine.base.Engine ('2019-02-13', 2919, 229, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,444 INFO sqlalchemy.engine.base.Engine ('2019-02-14', 2942, 231, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,446 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,446 INFO sqlalchemy.engine.base.Engine ('2019-02-15', 2974, 232, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,455 INFO sqlalchemy.engine.base.Engine ('2019-02-16', 2977, 234, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:44,456 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,458 INFO sqlalchemy.engine.base.Engine ('2019-02-17', 2978, 234, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,459 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,461 INFO sqlalchemy.engine.base.Engine ('2019-02-18', 2981, 234, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,464 INFO sqlalchemy.engine.base.Engine ('2019-02-19', 2983, 234, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,467 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,469 INFO sqlalchemy.engine.base.Engine ('2019-02-20', 2984, 237, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,477 INFO sqlalchemy.engine.base.Engine ('2019-02-21', 2987, 239, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,481 INFO sqlalchemy.engine.base.Engine ('2019-02-22', 2989, 239, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,485 INFO sqlalchemy.engine.base.Engine ('2019-02-23', 2993, 241, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,491 INFO sqlalchemy.engine.base.Engine ('2019-02-24', 2995, 241, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,493 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,494 INFO sqlalchemy.engine.base.Engine ('2019-02-25', 3009, 241, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,496 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,499 INFO sqlalchemy.engine.base.Engine ('2019-02-26', 3014, 243, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,502 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,504 INFO sqlalchemy.engine.base.Engine ('2019-02-27', 3023, 243, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,509 INFO sqlalchemy.engine.base.Engine ('2019-02-28', 3031, 243, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,512 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,513 INFO sqlalchemy.engine.base.Engine ('2019-03-01', 3052, 244, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,514 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,516 INFO sqlalchemy.engine.base.Engine ('2019-03-02', 3060, 245, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,519 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,522 INFO sqlalchemy.engine.base.Engine ('2019-03-03', 3062, 246, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,524 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,527 INFO sqlalchemy.engine.base.Engine ('2019-03-04', 3063, 249, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,530 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,531 INFO sqlalchemy.engine.base.Engine ('2019-03-05', 3066, 252, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,534 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,536 INFO sqlalchemy.engine.base.Engine ('2019-03-06', 3071, 254, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,539 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,540 INFO sqlalchemy.engine.base.Engine ('2019-03-07', 3074, 255, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,546 INFO sqlalchemy.engine.base.Engine ('2019-03-08', 3076, 256, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,549 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,550 INFO sqlalchemy.engine.base.Engine ('2019-03-09', 3077, 258, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,554 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,555 INFO sqlalchemy.engine.base.Engine ('2019-03-10', 3080, 258, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,559 INFO sqlalchemy.engine.base.Engine ('2019-03-11', 3087, 261, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,562 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,562 INFO sqlalchemy.engine.base.Engine ('2019-03-12', 3089, 261, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,567 INFO sqlalchemy.engine.base.Engine ('2019-03-13', 3093, 262, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,570 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,571 INFO sqlalchemy.engine.base.Engine ('2019-03-14', 3098, 262, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,577 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,579 INFO sqlalchemy.engine.base.Engine ('2019-03-15', 3104, 262, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,582 INFO sqlalchemy.engine.base.Engine ('2019-03-16', 3112, 262, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,586 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,589 INFO sqlalchemy.engine.base.Engine ('2019-03-17', 3120, 262, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,591 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,592 INFO sqlalchemy.engine.base.Engine ('2019-03-18', 3131, 265, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,594 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,597 INFO sqlalchemy.engine.base.Engine ('2019-03-19', 3142, 266, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,601 INFO sqlalchemy.engine.base.Engine ('2019-03-20', 3162, 266, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,603 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,605 INFO sqlalchemy.engine.base.Engine ('2019-03-21', 3173, 268, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:44,607 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,609 INFO sqlalchemy.engine.base.Engine ('2019-03-22', 3180, 269, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,612 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,613 INFO sqlalchemy.engine.base.Engine ('2019-03-23', 3187, 271, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,622 INFO sqlalchemy.engine.base.Engine ('2019-03-24', 3189, 271, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,625 INFO sqlalchemy.engine.base.Engine ('2019-03-25', 3196, 274, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,627 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,628 INFO sqlalchemy.engine.base.Engine ('2019-03-26', 3212, 274, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,629 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,630 INFO sqlalchemy.engine.base.Engine ('2019-03-27', 3220, 274, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,636 INFO sqlalchemy.engine.base.Engine ('2019-03-28', 3226, 275, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,639 INFO sqlalchemy.engine.base.Engine ('2019-03-29', 3241, 275, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,644 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,646 INFO sqlalchemy.engine.base.Engine ('2019-03-30', 3253, 278, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,649 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,651 INFO sqlalchemy.engine.base.Engine ('2019-03-31', 3255, 278, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,653 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,655 INFO sqlalchemy.engine.base.Engine ('2019-04-01', 3258, 280, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,657 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,657 INFO sqlalchemy.engine.base.Engine ('2019-04-02', 3262, 282, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,661 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,663 INFO sqlalchemy.engine.base.Engine ('2019-04-03', 3264, 282, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,668 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,669 INFO sqlalchemy.engine.base.Engine ('2019-04-04', 3272, 282, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,672 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,675 INFO sqlalchemy.engine.base.Engine ('2019-04-05', 3275, 284, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,677 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,679 INFO sqlalchemy.engine.base.Engine ('2019-04-06', 3276, 287, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,680 INFO sqlalchemy.engine.base.Engine ('2019-04-07', 3279, 289, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,686 INFO sqlalchemy.engine.base.Engine ('2019-04-08', 3285, 289, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,689 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,691 INFO sqlalchemy.engine.base.Engine ('2019-04-09', 3300, 291, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,700 INFO sqlalchemy.engine.base.Engine ('2019-04-10', 3306, 293, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,702 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,704 INFO sqlalchemy.engine.base.Engine ('2019-04-11', 3312, 295, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,706 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,707 INFO sqlalchemy.engine.base.Engine ('2019-04-12', 3319, 295, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,713 INFO sqlalchemy.engine.base.Engine ('2019-04-13', 3324, 295, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,715 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,717 INFO sqlalchemy.engine.base.Engine ('2019-04-14', 3325, 297, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,721 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,722 INFO sqlalchemy.engine.base.Engine ('2019-04-15', 3329, 298, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,725 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,728 INFO sqlalchemy.engine.base.Engine ('2019-04-16', 3331, 299, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,731 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,733 INFO sqlalchemy.engine.base.Engine ('2019-04-17', 3332, 299, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,735 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,739 INFO sqlalchemy.engine.base.Engine ('2019-04-18', 3333, 299, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,741 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,741 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 3336, 299, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,747 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,748 INFO sqlalchemy.engine.base.Engine ('2019-04-20', 3339, 299, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,749 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,754 INFO sqlalchemy.engine.base.Engine ('2019-04-21', 3343, 300, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,758 INFO sqlalchemy.engine.base.Engine ('2019-04-22', 3349, 302, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,762 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,764 INFO sqlalchemy.engine.base.Engine ('2019-04-23', 3357, 303, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:44,765 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,768 INFO sqlalchemy.engine.base.Engine ('2019-04-24', 3370, 303, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,770 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,772 INFO sqlalchemy.engine.base.Engine ('2019-04-25', 3388, 304, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,776 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,780 INFO sqlalchemy.engine.base.Engine ('2019-04-26', 3412, 304, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,782 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,783 INFO sqlalchemy.engine.base.Engine ('2019-04-27', 3437, 305, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,789 INFO sqlalchemy.engine.base.Engine ('2019-04-28', 3439, 305, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,792 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,793 INFO sqlalchemy.engine.base.Engine ('2019-04-29', 3440, 308, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,796 INFO sqlalchemy.engine.base.Engine ('2019-04-30', 3447, 309, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,802 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,803 INFO sqlalchemy.engine.base.Engine ('2019-05-01', 3466, 310, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,807 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,810 INFO sqlalchemy.engine.base.Engine ('2019-05-02', 3481, 311, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,813 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,814 INFO sqlalchemy.engine.base.Engine ('2019-05-03', 3504, 314, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,818 INFO sqlalchemy.engine.base.Engine ('2019-05-04', 3522, 317, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,822 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,823 INFO sqlalchemy.engine.base.Engine ('2019-05-05', 3527, 322, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,829 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,830 INFO sqlalchemy.engine.base.Engine ('2019-05-06', 3533, 324, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,833 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,835 INFO sqlalchemy.engine.base.Engine ('2019-05-07', 3543, 327, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,840 INFO sqlalchemy.engine.base.Engine ('2019-05-08', 3546, 328, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,842 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,844 INFO sqlalchemy.engine.base.Engine ('2019-05-09', 3555, 330, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,846 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,847 INFO sqlalchemy.engine.base.Engine ('2019-05-10', 3566, 332, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,853 INFO sqlalchemy.engine.base.Engine ('2019-05-11', 3583, 334, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,858 INFO sqlalchemy.engine.base.Engine ('2019-05-12', 3594, 335, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,860 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,862 INFO sqlalchemy.engine.base.Engine ('2019-05-13', 3614, 338, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,865 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,871 INFO sqlalchemy.engine.base.Engine ('2019-05-14', 3633, 340, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,875 INFO sqlalchemy.engine.base.Engine ('2019-05-15', 3647, 344, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,878 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,881 INFO sqlalchemy.engine.base.Engine ('2019-05-16', 3648, 349, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,883 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,885 INFO sqlalchemy.engine.base.Engine ('2019-05-17', 3649, 349, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,891 INFO sqlalchemy.engine.base.Engine ('2019-05-18', 3651, 351, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,894 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,895 INFO sqlalchemy.engine.base.Engine ('2019-05-19', 3654, 351, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,898 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,899 INFO sqlalchemy.engine.base.Engine ('2019-05-20', 3658, 354, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,906 INFO sqlalchemy.engine.base.Engine ('2019-05-21', 3671, 354, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,910 INFO sqlalchemy.engine.base.Engine ('2019-05-22', 3675, 359, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,915 INFO sqlalchemy.engine.base.Engine ('2019-05-23', 3681, 359, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,918 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,921 INFO sqlalchemy.engine.base.Engine ('2019-05-24', 3694, 361, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,923 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,926 INFO sqlalchemy.engine.base.Engine ('2019-05-25', 3699, 361, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,931 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 3711, 364, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:44,932 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,936 INFO sqlalchemy.engine.base.Engine ('2019-05-27', 3722, 368, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,943 INFO sqlalchemy.engine.base.Engine ('2019-05-28', 3734, 373, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,945 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,947 INFO sqlalchemy.engine.base.Engine ('2019-05-29', 3766, 374, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,950 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,952 INFO sqlalchemy.engine.base.Engine ('2019-05-30', 3781, 375, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,955 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,960 INFO sqlalchemy.engine.base.Engine ('2019-05-31', 3784, 375, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,961 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,964 INFO sqlalchemy.engine.base.Engine ('2019-06-01', 3789, 378, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,969 INFO sqlalchemy.engine.base.Engine ('2019-06-02', 3790, 379, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,971 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,974 INFO sqlalchemy.engine.base.Engine ('2019-06-03', 3793, 380, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,978 INFO sqlalchemy.engine.base.Engine ('2019-06-04', 3795, 383, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,982 INFO sqlalchemy.engine.base.Engine ('2019-06-05', 3808, 385, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,985 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,991 INFO sqlalchemy.engine.base.Engine ('2019-06-06', 3830, 386, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,994 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:44,996 INFO sqlalchemy.engine.base.Engine ('2019-06-07', 3843, 387, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:44,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,000 INFO sqlalchemy.engine.base.Engine ('2019-06-08', 3857, 390, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,002 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,006 INFO sqlalchemy.engine.base.Engine ('2019-06-09', 3870, 394, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,010 INFO sqlalchemy.engine.base.Engine ('2019-06-10', 3895, 395, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,013 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,014 INFO sqlalchemy.engine.base.Engine ('2019-06-11', 3919, 397, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,017 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,020 INFO sqlalchemy.engine.base.Engine ('2019-06-12', 3942, 399, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,022 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,026 INFO sqlalchemy.engine.base.Engine ('2019-06-13', 3983, 402, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,030 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,033 INFO sqlalchemy.engine.base.Engine ('2019-06-14', 4022, 404, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,038 INFO sqlalchemy.engine.base.Engine ('2019-06-15', 4053, 409, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,040 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,042 INFO sqlalchemy.engine.base.Engine ('2019-06-16', 4058, 410, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,045 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,048 INFO sqlalchemy.engine.base.Engine ('2019-06-17', 4063, 414, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,051 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,054 INFO sqlalchemy.engine.base.Engine ('2019-06-18', 4064, 417, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,056 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,059 INFO sqlalchemy.engine.base.Engine ('2019-06-19', 4065, 422, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,062 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,063 INFO sqlalchemy.engine.base.Engine ('2019-06-20', 4066, 424, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,068 INFO sqlalchemy.engine.base.Engine ('2019-06-21', 4069, 425, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,073 INFO sqlalchemy.engine.base.Engine ('2019-06-22', 4070, 426, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,076 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,077 INFO sqlalchemy.engine.base.Engine ('2019-06-23', 4073, 427, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,079 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,081 INFO sqlalchemy.engine.base.Engine ('2019-06-24', 4084, 427, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,084 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,087 INFO sqlalchemy.engine.base.Engine ('2019-06-25', 4108, 427, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,090 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,092 INFO sqlalchemy.engine.base.Engine ('2019-06-26', 4122, 433, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,094 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,098 INFO sqlalchemy.engine.base.Engine ('2019-06-27', 4132, 436, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,101 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,103 INFO sqlalchemy.engine.base.Engine ('2019-06-28', 4150, 440, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,106 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,108 INFO sqlalchemy.engine.base.Engine ('2019-06-29', 4162, 440, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,109 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,112 INFO sqlalchemy.engine.base.Engine ('2019-06-30', 4164, 446, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,116 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,118 INFO sqlalchemy.engine.base.Engine ('2019-07-01', 4167, 448, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,122 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,133 INFO sqlalchemy.engine.base.Engine ('2019-07-02', 4174, 450, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,138 INFO sqlalchemy.engine.base.Engine ('2019-07-03', 4179, 455, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,141 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,143 INFO sqlalchemy.engine.base.Engine ('2019-07-04', 4187, 456, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,147 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,149 INFO sqlalchemy.engine.base.Engine ('2019-07-05', 4200, 456, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,150 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,155 INFO sqlalchemy.engine.base.Engine ('2019-07-06', 4210, 458, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,160 INFO sqlalchemy.engine.base.Engine ('2019-07-07', 4211, 458, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,163 INFO sqlalchemy.engine.base.Engine ('2019-07-08', 4214, 464, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,167 INFO sqlalchemy.engine.base.Engine ('2019-07-09', 4219, 464, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,169 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,171 INFO sqlalchemy.engine.base.Engine ('2019-07-10', 4223, 468, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,175 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,177 INFO sqlalchemy.engine.base.Engine ('2019-07-11', 4228, 469, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,179 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,181 INFO sqlalchemy.engine.base.Engine ('2019-07-12', 4236, 469, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,184 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,187 INFO sqlalchemy.engine.base.Engine ('2019-07-13', 4239, 471, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,190 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,192 INFO sqlalchemy.engine.base.Engine ('2019-07-14', 4243, 471, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,194 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,195 INFO sqlalchemy.engine.base.Engine ('2019-07-15', 4250, 473, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,197 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,199 INFO sqlalchemy.engine.base.Engine ('2019-07-16', 4265, 476, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,209 INFO sqlalchemy.engine.base.Engine ('2019-07-17', 4288, 476, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,211 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,212 INFO sqlalchemy.engine.base.Engine ('2019-07-18', 4313, 483, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,216 INFO sqlalchemy.engine.base.Engine ('2019-07-19', 4329, 483, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,218 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,220 INFO sqlalchemy.engine.base.Engine ('2019-07-20', 4329, 486, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,224 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,226 INFO sqlalchemy.engine.base.Engine ('2019-07-21', 4329, 487, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,230 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,232 INFO sqlalchemy.engine.base.Engine ('2019-07-22', 4333, 492, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,235 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,239 INFO sqlalchemy.engine.base.Engine ('2019-07-23', 4335, 493, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,248 INFO sqlalchemy.engine.base.Engine ('2019-07-24', 4353, 494, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,251 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,255 INFO sqlalchemy.engine.base.Engine ('2019-07-25', 4370, 496, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,261 INFO sqlalchemy.engine.base.Engine ('2019-07-26', 4397, 500, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,265 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,267 INFO sqlalchemy.engine.base.Engine ('2019-07-27', 4419, 504, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,269 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,273 INFO sqlalchemy.engine.base.Engine ('2019-07-28', 4422, 507, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,277 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,279 INFO sqlalchemy.engine.base.Engine ('2019-07-29', 4423, 513, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,282 INFO sqlalchemy.engine.base.Engine ('2019-07-30', 4425, 516, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,284 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,287 INFO sqlalchemy.engine.base.Engine ('2019-07-31', 4427, 518, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,291 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,294 INFO sqlalchemy.engine.base.Engine ('2019-08-01', 4432, 519, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,297 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,299 INFO sqlalchemy.engine.base.Engine ('2019-08-02', 4433, 520, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,304 INFO sqlalchemy.engine.base.Engine ('2019-08-03', 4435, 522, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,308 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,310 INFO sqlalchemy.engine.base.Engine ('2019-08-04', 4437, 522, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,312 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,314 INFO sqlalchemy.engine.base.Engine ('2019-08-05', 4440, 526, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,320 INFO sqlalchemy.engine.base.Engine ('2019-08-06', 4444, 528, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,323 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,326 INFO sqlalchemy.engine.base.Engine ('2019-08-07', 4452, 528, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,328 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,328 INFO sqlalchemy.engine.base.Engine ('2019-08-08', 4466, 529, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,332 INFO sqlalchemy.engine.base.Engine ('2019-08-09', 4493, 529, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,338 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,340 INFO sqlalchemy.engine.base.Engine ('2019-08-10', 4521, 530, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,346 INFO sqlalchemy.engine.base.Engine ('2019-08-11', 4528, 531, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,351 INFO sqlalchemy.engine.base.Engine ('2019-08-12', 4529, 533, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,356 INFO sqlalchemy.engine.base.Engine ('2019-08-13', 4532, 534, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,360 INFO sqlalchemy.engine.base.Engine ('2019-08-14', 4534, 537, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,364 INFO sqlalchemy.engine.base.Engine ('2019-08-15', 4535, 537, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,371 INFO sqlalchemy.engine.base.Engine ('2019-08-16', 4539, 539, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,379 INFO sqlalchemy.engine.base.Engine ('2019-08-17', 4539, 540, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,388 INFO sqlalchemy.engine.base.Engine ('2019-08-18', 4541, 541, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,394 INFO sqlalchemy.engine.base.Engine ('2019-08-19', 4545, 544, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,397 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,398 INFO sqlalchemy.engine.base.Engine ('2019-08-20', 4545, 545, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,400 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,408 INFO sqlalchemy.engine.base.Engine ('2019-08-21', 4561, 548, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,415 INFO sqlalchemy.engine.base.Engine ('2019-08-22', 4590, 549, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,425 INFO sqlalchemy.engine.base.Engine ('2019-08-23', 4624, 549, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,432 INFO sqlalchemy.engine.base.Engine ('2019-08-24', 4641, 552, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,435 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,438 INFO sqlalchemy.engine.base.Engine ('2019-08-25', 4665, 554, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,444 INFO sqlalchemy.engine.base.Engine ('2019-08-26', 4702, 557, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,446 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,447 INFO sqlalchemy.engine.base.Engine ('2019-08-27', 4730, 561, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,449 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,450 INFO sqlalchemy.engine.base.Engine ('2019-08-28', 4761, 564, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,455 INFO sqlalchemy.engine.base.Engine ('2019-08-29', 4793, 566, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,458 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,460 INFO sqlalchemy.engine.base.Engine ('2019-08-30', 4846, 566, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,464 INFO sqlalchemy.engine.base.Engine ('2019-08-31', 4878, 571, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,468 INFO sqlalchemy.engine.base.Engine ('2019-09-01', 4884, 572, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,471 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,473 INFO sqlalchemy.engine.base.Engine ('2019-09-02', 4888, 573, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,477 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,479 INFO sqlalchemy.engine.base.Engine ('2019-09-03', 4887, 574, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,482 INFO sqlalchemy.engine.base.Engine ('2019-09-04', 4888, 575, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,489 INFO sqlalchemy.engine.base.Engine ('2019-09-05', 4890, 577, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,493 INFO sqlalchemy.engine.base.Engine ('2019-09-06', 4892, 577, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,495 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,497 INFO sqlalchemy.engine.base.Engine ('2019-09-07', 4894, 578, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,501 INFO sqlalchemy.engine.base.Engine ('2019-09-08', 4896, 578, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,506 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,507 INFO sqlalchemy.engine.base.Engine ('2019-09-09', 4907, 579, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,511 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,513 INFO sqlalchemy.engine.base.Engine ('2019-09-10', 4918, 581, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,515 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,519 INFO sqlalchemy.engine.base.Engine ('2019-09-11', 4935, 583, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,526 INFO sqlalchemy.engine.base.Engine ('2019-09-12', 4949, 583, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,530 INFO sqlalchemy.engine.base.Engine ('2019-09-13', 4965, 584, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,537 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,539 INFO sqlalchemy.engine.base.Engine ('2019-09-14', 4966, 587, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,543 INFO sqlalchemy.engine.base.Engine ('2019-09-15', 4966, 587, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,546 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,548 INFO sqlalchemy.engine.base.Engine ('2019-09-16', 4970, 590, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,552 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,554 INFO sqlalchemy.engine.base.Engine ('2019-09-17', 4972, 590, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,557 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,559 INFO sqlalchemy.engine.base.Engine ('2019-09-18', 4974, 592, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,562 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,564 INFO sqlalchemy.engine.base.Engine ('2019-09-19', 4996, 596, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,573 INFO sqlalchemy.engine.base.Engine ('2019-09-20', 4998, 601, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,578 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,581 INFO sqlalchemy.engine.base.Engine ('2019-09-21', 5001, 601, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,590 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,594 INFO sqlalchemy.engine.base.Engine ('2019-09-22', 5004, 603, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,598 INFO sqlalchemy.engine.base.Engine ('2019-09-23', 5005, 605, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,600 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,603 INFO sqlalchemy.engine.base.Engine ('2019-09-24', 5012, 605, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,607 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,609 INFO sqlalchemy.engine.base.Engine ('2019-09-25', 5023, 609, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,611 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,614 INFO sqlalchemy.engine.base.Engine ('2019-09-26', 5033, 609, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,615 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,619 INFO sqlalchemy.engine.base.Engine ('2019-09-27', 5068, 612, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,625 INFO sqlalchemy.engine.base.Engine ('2019-09-28', 5084, 613, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,631 INFO sqlalchemy.engine.base.Engine ('2019-09-29', 5088, 614, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,634 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,636 INFO sqlalchemy.engine.base.Engine ('2019-09-30', 5097, 615, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,643 INFO sqlalchemy.engine.base.Engine ('2019-10-01', 5113, 617, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,645 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,647 INFO sqlalchemy.engine.base.Engine ('2019-10-02', 5117, 618, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,652 INFO sqlalchemy.engine.base.Engine ('2019-10-03', 5120, 620, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,657 INFO sqlalchemy.engine.base.Engine ('2019-10-04', 5128, 622, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,659 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,661 INFO sqlalchemy.engine.base.Engine ('2019-10-05', 5133, 624, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,663 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,665 INFO sqlalchemy.engine.base.Engine ('2019-10-06', 5137, 628, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,666 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,669 INFO sqlalchemy.engine.base.Engine ('2019-10-07', 5144, 630, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,672 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,673 INFO sqlalchemy.engine.base.Engine ('2019-10-08', 5160, 633, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,676 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,678 INFO sqlalchemy.engine.base.Engine ('2019-10-09', 5166, 637, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,683 INFO sqlalchemy.engine.base.Engine ('2019-10-10', 5167, 639, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,689 INFO sqlalchemy.engine.base.Engine ('2019-10-11', 5168, 641, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,693 INFO sqlalchemy.engine.base.Engine ('2019-10-12', 5169, 644, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,695 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,696 INFO sqlalchemy.engine.base.Engine ('2019-10-13', 5170, 646, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,698 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,700 INFO sqlalchemy.engine.base.Engine ('2019-10-14', 5170, 649, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,705 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,707 INFO sqlalchemy.engine.base.Engine ('2019-10-15', 5179, 651, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,709 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,711 INFO sqlalchemy.engine.base.Engine ('2019-10-16', 5185, 651, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,715 INFO sqlalchemy.engine.base.Engine ('2019-10-17', 5187, 652, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,717 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,719 INFO sqlalchemy.engine.base.Engine ('2019-10-18', 5189, 653, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,724 INFO sqlalchemy.engine.base.Engine ('2019-10-19', 5191, 654, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,736 INFO sqlalchemy.engine.base.Engine ('2019-10-20', 5193, 655, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,744 INFO sqlalchemy.engine.base.Engine ('2019-10-21', 5194, 656, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,747 INFO sqlalchemy.engine.base.Engine ('2019-10-22', 5197, 658, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,750 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,750 INFO sqlalchemy.engine.base.Engine ('2019-10-23', 5210, 659, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,756 INFO sqlalchemy.engine.base.Engine ('2019-10-24', 5223, 663, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,760 INFO sqlalchemy.engine.base.Engine ('2019-10-25', 5232, 663, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,765 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,767 INFO sqlalchemy.engine.base.Engine ('2019-10-26', 5233, 664, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,775 INFO sqlalchemy.engine.base.Engine ('2019-10-27', 5234, 665, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,777 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,779 INFO sqlalchemy.engine.base.Engine ('2019-10-28', 5236, 666, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,780 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,782 INFO sqlalchemy.engine.base.Engine ('2019-10-29', 5240, 670, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,788 INFO sqlalchemy.engine.base.Engine ('2019-10-30', 5242, 671, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,790 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,792 INFO sqlalchemy.engine.base.Engine ('2019-10-31', 5243, 671, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,798 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,800 INFO sqlalchemy.engine.base.Engine ('2019-11-01', 5244, 674, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,802 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,805 INFO sqlalchemy.engine.base.Engine ('2019-11-02', 5246, 674, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,808 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,810 INFO sqlalchemy.engine.base.Engine ('2019-11-03', 5246, 676, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,813 INFO sqlalchemy.engine.base.Engine ('2019-11-04', 5247, 676, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,819 INFO sqlalchemy.engine.base.Engine ('2019-11-06', 5269, 679, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,822 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,824 INFO sqlalchemy.engine.base.Engine ('2019-11-07', 5284, 681, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,829 INFO sqlalchemy.engine.base.Engine ('2019-11-08', 5298, 683, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,835 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,838 INFO sqlalchemy.engine.base.Engine ('2019-11-09', 5307, 684, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,841 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,842 INFO sqlalchemy.engine.base.Engine ('2019-11-10', 5313, 687, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,845 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,846 INFO sqlalchemy.engine.base.Engine ('2019-11-11', 5314, 687, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,847 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,852 INFO sqlalchemy.engine.base.Engine ('2019-11-12', 5314, 688, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,858 INFO sqlalchemy.engine.base.Engine ('2019-11-13', 5316, 689, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,862 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,863 INFO sqlalchemy.engine.base.Engine ('2019-11-14', 5326, 691, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,866 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,869 INFO sqlalchemy.engine.base.Engine ('2019-11-15', 5337, 691, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,874 INFO sqlalchemy.engine.base.Engine ('2019-11-16', 5338, 692, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,877 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,879 INFO sqlalchemy.engine.base.Engine ('2019-11-17', 5342, 692, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,884 INFO sqlalchemy.engine.base.Engine ('2019-11-18', 5343, 695, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,888 INFO sqlalchemy.engine.base.Engine ('2019-11-19', 5347, 697, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,891 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,891 INFO sqlalchemy.engine.base.Engine ('2019-11-20', 5348, 697, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,895 INFO sqlalchemy.engine.base.Engine ('2019-11-21', 5351, 700, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,898 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,899 INFO sqlalchemy.engine.base.Engine ('2019-11-22', 5356, 700, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,903 INFO sqlalchemy.engine.base.Engine ('2019-11-23', 5383, 700, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,913 INFO sqlalchemy.engine.base.Engine ('2019-11-24', 5409, 704, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,915 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,916 INFO sqlalchemy.engine.base.Engine ('2019-11-25', 5435, 709, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,921 INFO sqlalchemy.engine.base.Engine ('2019-11-26', 5450, 714, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,924 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,926 INFO sqlalchemy.engine.base.Engine ('2019-11-27', 5479, 714, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,927 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,929 INFO sqlalchemy.engine.base.Engine ('2019-11-28', 5503, 715, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,934 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,936 INFO sqlalchemy.engine.base.Engine ('2019-11-29', 5554, 716, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,941 INFO sqlalchemy.engine.base.Engine ('2019-11-30', 5643, 718, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,945 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,947 INFO sqlalchemy.engine.base.Engine ('2019-12-01', 5652, 720, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,950 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,952 INFO sqlalchemy.engine.base.Engine ('2019-12-02', 5654, 723, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,955 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,958 INFO sqlalchemy.engine.base.Engine ('2019-12-03', 5678, 723, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,959 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,962 INFO sqlalchemy.engine.base.Engine ('2019-12-04', 5706, 723, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,963 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,965 INFO sqlalchemy.engine.base.Engine ('2019-12-05', 5747, 726, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,969 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,972 INFO sqlalchemy.engine.base.Engine ('2019-12-06', 5802, 728, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,975 INFO sqlalchemy.engine.base.Engine ('2019-12-07', 5807, 728, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,980 INFO sqlalchemy.engine.base.Engine ('2019-12-08', 5811, 732, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,982 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,984 INFO sqlalchemy.engine.base.Engine ('2019-12-09', 5811, 732, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,986 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,988 INFO sqlalchemy.engine.base.Engine ('2019-12-10', 5813, 735, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:45,991 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:45,992 INFO sqlalchemy.engine.base.Engine ('2019-12-11', 5819, 735, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:45,999 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,001 INFO sqlalchemy.engine.base.Engine ('2019-12-12', 5825, 737, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,003 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,005 INFO sqlalchemy.engine.base.Engine ('2019-12-13', 5830, 739, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,007 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,008 INFO sqlalchemy.engine.base.Engine ('2019-12-14', 5833, 739, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,008 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,013 INFO sqlalchemy.engine.base.Engine ('2019-12-15', 5837, 740, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,018 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,021 INFO sqlalchemy.engine.base.Engine ('2019-12-16', 5839, 742, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,026 INFO sqlalchemy.engine.base.Engine ('2019-12-17', 5840, 744, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,028 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,030 INFO sqlalchemy.engine.base.Engine ('2019-12-18', 5846, 745, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,039 INFO sqlalchemy.engine.base.Engine ('2019-12-19', 5847, 745, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,042 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,042 INFO sqlalchemy.engine.base.Engine ('2019-12-20', 5849, 746, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,047 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,048 INFO sqlalchemy.engine.base.Engine ('2019-12-21', 5850, 746, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,052 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,055 INFO sqlalchemy.engine.base.Engine ('2019-12-22', 5852, 746, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,059 INFO sqlalchemy.engine.base.Engine ('2019-12-23', 5870, 747, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,062 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,063 INFO sqlalchemy.engine.base.Engine ('2019-12-24', 5878, 748, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,068 INFO sqlalchemy.engine.base.Engine ('2019-12-25', 5888, 748, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,072 INFO sqlalchemy.engine.base.Engine ('2019-12-26', 5906, 749, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,075 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,077 INFO sqlalchemy.engine.base.Engine ('2019-12-27', 5927, 749, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,080 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,085 INFO sqlalchemy.engine.base.Engine ('2019-12-28', 5930, 749, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,088 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,089 INFO sqlalchemy.engine.base.Engine ('2019-12-29', 5933, 750, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,092 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,094 INFO sqlalchemy.engine.base.Engine ('2019-12-30', 5936, 752, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,099 INFO sqlalchemy.engine.base.Engine ('2019-12-31', 5937, 753, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,102 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,105 INFO sqlalchemy.engine.base.Engine ('2020-01-01', 5964, 760, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,107 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,108 INFO sqlalchemy.engine.base.Engine ('2020-01-02', 5989, 764, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,111 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,113 INFO sqlalchemy.engine.base.Engine ('2020-01-03', 5999, 768, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,117 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,119 INFO sqlalchemy.engine.base.Engine ('2020-01-04', 6011, 768, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,123 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,127 INFO sqlalchemy.engine.base.Engine ('2020-01-05', 6023, 771, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,130 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,131 INFO sqlalchemy.engine.base.Engine ('2020-01-06', 6042, 772, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,134 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,137 INFO sqlalchemy.engine.base.Engine ('2020-01-07', 6060, 776, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,141 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,144 INFO sqlalchemy.engine.base.Engine ('2020-01-08', 6089, 778, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,146 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,147 INFO sqlalchemy.engine.base.Engine ('2020-01-09', 6121, 780, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,149 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,150 INFO sqlalchemy.engine.base.Engine ('2020-01-10', 6174, 781, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,153 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,156 INFO sqlalchemy.engine.base.Engine ('2020-01-11', 6178, 782, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,161 INFO sqlalchemy.engine.base.Engine ('2020-01-12', 6182, 784, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,164 INFO sqlalchemy.engine.base.Engine ('2020-01-13', 6188, 784, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:46,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,167 INFO sqlalchemy.engine.base.Engine ('2020-01-14', 6191, 788, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,175 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,180 INFO sqlalchemy.engine.base.Engine ('2020-01-15', 6193, 792, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,182 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,184 INFO sqlalchemy.engine.base.Engine ('2020-01-16', 6196, 793, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,187 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,189 INFO sqlalchemy.engine.base.Engine ('2020-01-17', 6201, 793, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,192 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,196 INFO sqlalchemy.engine.base.Engine ('2020-01-18', 6200, 795, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,198 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,200 INFO sqlalchemy.engine.base.Engine ('2020-01-19', 6204, 797, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,208 INFO sqlalchemy.engine.base.Engine ('2020-01-20', 6206, 801, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,210 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,212 INFO sqlalchemy.engine.base.Engine ('2020-01-21', 6212, 803, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,216 INFO sqlalchemy.engine.base.Engine ('2020-01-22', 6213, 806, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,222 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,227 INFO sqlalchemy.engine.base.Engine ('2020-01-23', 6215, 808, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,232 INFO sqlalchemy.engine.base.Engine ('2020-01-24', 6219, 808, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,235 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,238 INFO sqlalchemy.engine.base.Engine ('2020-01-25', 6222, 811, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,243 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,244 INFO sqlalchemy.engine.base.Engine ('2020-01-26', 6223, 811, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,247 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,250 INFO sqlalchemy.engine.base.Engine ('2020-01-27', 6224, 811, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,254 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,257 INFO sqlalchemy.engine.base.Engine ('2020-01-28', 6229, 812, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,260 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,262 INFO sqlalchemy.engine.base.Engine ('2020-01-29', 6248, 812, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,262 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,265 INFO sqlalchemy.engine.base.Engine ('2020-01-30', 6281, 813, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,271 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,274 INFO sqlalchemy.engine.base.Engine ('2020-01-31', 6286, 816, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,277 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,278 INFO sqlalchemy.engine.base.Engine ('2020-02-01', 6291, 820, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,282 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,283 INFO sqlalchemy.engine.base.Engine ('2020-02-02', 6294, 820, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,286 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,288 INFO sqlalchemy.engine.base.Engine ('2020-02-03', 6299, 820, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,291 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,293 INFO sqlalchemy.engine.base.Engine ('2020-02-04', 6310, 821, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,297 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,298 INFO sqlalchemy.engine.base.Engine ('2020-02-05', 6319, 824, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,303 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,306 INFO sqlalchemy.engine.base.Engine ('2020-02-06', 6337, 827, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,311 INFO sqlalchemy.engine.base.Engine ('2020-02-07', 6352, 829, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,313 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,314 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 6353, 833, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,315 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,321 INFO sqlalchemy.engine.base.Engine ('2020-02-09', 6356, 834, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,327 INFO sqlalchemy.engine.base.Engine ('2020-02-10', 6359, 836, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,330 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,332 INFO sqlalchemy.engine.base.Engine ('2020-02-11', 6361, 843, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,335 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,336 INFO sqlalchemy.engine.base.Engine ('2020-02-12', 6366, 845, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,342 INFO sqlalchemy.engine.base.Engine ('2020-02-13', 6370, 848, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,346 INFO sqlalchemy.engine.base.Engine ('2020-02-14', 6387, 852, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,349 INFO sqlalchemy.engine.base.Engine ('2020-02-15', 6399, 854, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:46,351 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,354 INFO sqlalchemy.engine.base.Engine ('2020-02-16', 6399, 854, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,356 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,360 INFO sqlalchemy.engine.base.Engine ('2020-02-17', 6407, 857, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,363 INFO sqlalchemy.engine.base.Engine ('2020-02-18', 6411, 860, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,364 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,371 INFO sqlalchemy.engine.base.Engine ('2020-02-19', 6412, 861, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,377 INFO sqlalchemy.engine.base.Engine ('2020-02-20', 6413, 861, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,379 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,380 INFO sqlalchemy.engine.base.Engine ('2020-02-21', 6428, 862, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,387 INFO sqlalchemy.engine.base.Engine ('2020-02-22', 6436, 862, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,389 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,391 INFO sqlalchemy.engine.base.Engine ('2020-02-23', 6439, 867, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,394 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,395 INFO sqlalchemy.engine.base.Engine ('2020-02-24', 6442, 868, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,397 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,397 INFO sqlalchemy.engine.base.Engine ('2020-02-25', 6455, 869, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,404 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,407 INFO sqlalchemy.engine.base.Engine ('2020-02-26', 6460, 871, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,410 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,411 INFO sqlalchemy.engine.base.Engine ('2020-02-27', 6470, 872, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,413 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,414 INFO sqlalchemy.engine.base.Engine ('2020-02-28', 6482, 873, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,418 INFO sqlalchemy.engine.base.Engine ('2020-02-29', 6495, 876, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,424 INFO sqlalchemy.engine.base.Engine ('2020-03-01', 6500, 876, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,428 INFO sqlalchemy.engine.base.Engine ('2020-03-02', 6504, 878, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,438 INFO sqlalchemy.engine.base.Engine ('2020-03-03', 6510, 885, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,443 INFO sqlalchemy.engine.base.Engine ('2020-03-04', 6519, 890, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,445 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,446 INFO sqlalchemy.engine.base.Engine ('2020-03-05', 6527, 893, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,449 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,455 INFO sqlalchemy.engine.base.Engine ('2020-03-06', 6534, 894, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,459 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,460 INFO sqlalchemy.engine.base.Engine ('2020-03-07', 6539, 894, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,465 INFO sqlalchemy.engine.base.Engine ('2020-03-08', 6549, 897, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,470 INFO sqlalchemy.engine.base.Engine ('2020-03-09', 6568, 897, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,476 INFO sqlalchemy.engine.base.Engine ('2020-03-10', 6590, 902, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,480 INFO sqlalchemy.engine.base.Engine ('2020-03-11', 6609, 906, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,483 INFO sqlalchemy.engine.base.Engine ('2020-03-12', 6636, 909, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,485 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,489 INFO sqlalchemy.engine.base.Engine ('2020-03-13', 6640, 909, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,493 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,496 INFO sqlalchemy.engine.base.Engine ('2020-03-14', 6645, 911, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,497 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,500 INFO sqlalchemy.engine.base.Engine ('2020-03-15', 6649, 916, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,503 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,506 INFO sqlalchemy.engine.base.Engine ('2020-03-16', 6652, 920, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,510 INFO sqlalchemy.engine.base.Engine ('2020-03-17', 6672, 922, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,513 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,514 INFO sqlalchemy.engine.base.Engine ('2020-03-18', 6687, 926, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,518 INFO sqlalchemy.engine.base.Engine ('2020-03-19', 6707, 928, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:46,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,524 INFO sqlalchemy.engine.base.Engine ('2020-03-20', 6729, 933, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,527 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,530 INFO sqlalchemy.engine.base.Engine ('2020-03-21', 6764, 934, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,538 INFO sqlalchemy.engine.base.Engine ('2020-03-22', 6771, 939, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,543 INFO sqlalchemy.engine.base.Engine ('2020-03-23', 6776, 943, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,548 INFO sqlalchemy.engine.base.Engine ('2020-03-24', 6783, 948, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,552 INFO sqlalchemy.engine.base.Engine ('2020-03-25', 6785, 950, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,555 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,557 INFO sqlalchemy.engine.base.Engine ('2020-03-26', 6790, 951, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,562 INFO sqlalchemy.engine.base.Engine ('2020-03-27', 6792, 952, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,568 INFO sqlalchemy.engine.base.Engine ('2020-03-28', 6798, 953, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,575 INFO sqlalchemy.engine.base.Engine ('2020-03-29', 6805, 957, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,580 INFO sqlalchemy.engine.base.Engine ('2020-03-30', 6809, 958, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,584 INFO sqlalchemy.engine.base.Engine ('2020-03-31', 6832, 963, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,591 INFO sqlalchemy.engine.base.Engine ('2020-04-01', 6867, 968, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,594 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,595 INFO sqlalchemy.engine.base.Engine ('2020-04-02', 6868, 974, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,599 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,601 INFO sqlalchemy.engine.base.Engine ('2020-04-03', 6877, 977, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,607 INFO sqlalchemy.engine.base.Engine ('2020-04-04', 6882, 979, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,612 INFO sqlalchemy.engine.base.Engine ('2020-04-05', 6886, 979, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,615 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,615 INFO sqlalchemy.engine.base.Engine ('2020-04-06', 6892, 982, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,620 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,622 INFO sqlalchemy.engine.base.Engine ('2020-04-07', 6912, 987, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,627 INFO sqlalchemy.engine.base.Engine ('2020-04-08', 6913, 991, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,629 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,631 INFO sqlalchemy.engine.base.Engine ('2020-04-09', 6921, 993, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,637 INFO sqlalchemy.engine.base.Engine ('2020-04-10', 6927, 995, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,642 INFO sqlalchemy.engine.base.Engine ('2020-04-11', 6938, 996, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,644 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,646 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,649 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,651 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,656 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,659 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,662 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,664 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,666 INFO sqlalchemy.engine.base.Engine ('2020-04-12', 6941, 998, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,671 INFO sqlalchemy.engine.base.Engine ('2020-04-13', 6948, 1002, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,676 INFO sqlalchemy.engine.base.Engine ('2020-04-14', 6956, 1006, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,680 INFO sqlalchemy.engine.base.Engine ('2020-04-15', 6982, 1007, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,685 INFO sqlalchemy.engine.base.Engine ('2020-04-16', 7003, 1007, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,688 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,689 INFO sqlalchemy.engine.base.Engine ('2020-04-17', 7024, 1012, '2020-05-02 23:48:13.215904')

2020-05-02 23:48:46,691 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,693 INFO sqlalchemy.engine.base.Engine ('2020-04-18', 7050, 1016, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,697 INFO sqlalchemy.engine.base.Engine ('2020-04-19', 7092, 1017, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,702 INFO sqlalchemy.engine.base.Engine ('2020-04-20', 7154, 1021, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,706 INFO sqlalchemy.engine.base.Engine ('2020-04-21', 7233, 1028, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,710 INFO sqlalchemy.engine.base.Engine ('2020-04-22', 7245, 1031, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,713 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,714 INFO sqlalchemy.engine.base.Engine ('2020-04-23', 7257, 1033, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,716 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,719 INFO sqlalchemy.engine.base.Engine ('2020-04-24', 7265, 1045, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,723 INFO sqlalchemy.engine.base.Engine ('2020-04-25', 7269, 1048, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,727 INFO sqlalchemy.engine.base.Engine ('2020-04-26', 7276, 1053, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,741 INFO sqlalchemy.engine.base.Engine ('2020-04-27', 7281, 1055, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,746 INFO sqlalchemy.engine.base.Engine ('2020-04-28', 7290, 1059, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,748 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,750 INFO sqlalchemy.engine.base.Engine ('2020-04-29', 7328, 1063, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,752 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,753 INFO sqlalchemy.engine.base.Engine ('2020-04-30', 7353, 1064, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,755 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-02 23:48:46,757 INFO sqlalchemy.engine.base.Engine ('2020-05-01', 7404, 1069, '2020-05-02 23:48:13.215904')
2020-05-02 23:48:46,775 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
def read_data():
    from .assets import models
    df = pd.read_csv('assets/data.csv')

    #_dfは一行ずつとってくる
    for index,_df in df.iterrows():
    # date型への変更
        date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
        row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
        db_session.add(row)
    db_session.commit()