In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
url='https://scraping-for-beginner.herokuapp.com/udemy'

In [83]:
r=requests.get(url)

In [6]:
r.text

'<!DOCTYPE html>\n<html lang="en" dir="ltr">\n<head>\n  <meta charset="utf-8">\n  <title>Webスクレイピング入門者のためのサイト</title>\n  <!-- Compiled and minified CSS -->\n  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">\n  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> \x08\n  <link rel="stylesheet" href="static/assets/css/style.css">\n  <link rel="stylesheet" href="static/assets/css/udemy.css">\n  <!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->\n</head>\n\n<body>\n  <!-- Navbar -->\n  <div class="navbar-fixed">\n    <!-- Dropdown Structure -->\n    <nav class="">\n      <div class="nav-wrapper row">\n        <div class="col s5 l4 offset-s1 offset-l1">\n          <a href="\x08/" class="brand-logo">Webスクレイピング入門</a>\n        </div>\n        <div class="col s5 l6">\n          <ul id="nav-mobile" class="right hide-on-med-and-down">\n            <li><a href="\x08/login_page" class="">ログイン</a></li>\n            <li><a href="/ranking/" class="">ランキング</a></li>\n            <li><a href="/image" class="">画像</a></li>\n            <li><a href="/udemy" class="">Udemy</a></li>\n            <li><a href="https://scraping-for-beginner.readthedocs.io/" target=”_blank” class="">サンプルコード</a></li>\n          </ul>\n        </div>\n      </div>\n    </nav>\n  </div>\n\n  \n\n<div class="row">\n  <div class="col s4 offset-s4">\n    <div class="overview">\n      <p>\n      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。\n      </p>\n    </div>\n    <div class="">\n      <div class="">\n        <div class="card">\n          <div class="card-image">\n            <img src="/static/assets/img/self-introduction.jpg">\n            <span class="card-title">今西 航平</span>\n          </div>\n          <div class="card-content">\n            <p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br>\n\n              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br>\n\n            </p>\n          </div>\n          <div class="card-action">\n              <p class="subscribers">受講生の数：7326</p>\n              <p class="reviews">レビューの数：1064</p>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n\n  <!-- Compiled and minified JavaScript -->\n  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>\n  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>\n  <script type="text/javascript">\n    $(document).ready(function() {\n      $(".dropdown-trigger").dropdown();\n    });\n  </script>\n\n\n</body>\n\n</html>'

In [7]:
soup=BeautifulSoup(r.text,'html.parser')
#parserをすることで、htmlの構造を解析している

In [8]:
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/self-introduction.jpg"/>
<span class="card-title">今西 航平</span>
</div>
<div class="card-content">
<p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br/>

              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：7326</p>
<p class="reviews">レビューの数：1064</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [9]:
#リスト形式なので、[0]をしてい、文字列が欲しいので、'.string'が必要
soup.select('.card-title')[0].string
name=soup.select('.card-title')[0].string

In [10]:
n_subscribers=soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：7326'

In [11]:
#全角のコロンか半角のコロンか注意する
n_subscribers.split('：')

['受講生の数', '7326']

In [12]:
n_subscribers.split('：')[1]

'7326'

In [13]:
n_subscribers=int(n_subscribers.split('：')[1])
n_subscribers

7326

In [14]:
n_subscribers=int(n_subscribers)
n_subscribers

7326

In [57]:
n_reviews=soup.select('.reviews')[0].string
n_reviews

'レビューの数：1064'

In [58]:
n_reviews = int(n_reviews.split('：')[1])

In [59]:
n_reviews

1064

In [60]:
results = {
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviews
}

results

In [61]:
results

{'name': '今西 航平', 'n_subscribers': 7326, 'n_reviews': 1064}

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('assets/data.csv')

In [64]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [65]:
df.tail()

          date  subscribers  reviews
466  2020/4/24         7265     1045
467  2020/4/25         7269     1048
468  2020/4/26         7276     1053
469  2020/4/27         7281     1055
470  2020/4/28         7290     1059

In [66]:
import datetime

In [67]:
datetime.datetime.today()

datetime.datetime(2020, 4, 29, 16, 58, 37, 852094)

In [68]:
date=datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
date

'2020/4/29'

In [69]:
subscribers = results['n_subscribers']
reviews=results['n_reviews']

In [70]:
subscribers

7326

In [71]:
reviews

1064

In [72]:
pd.DataFrame([[date, subscribers. reviews]],columns=['date','subscribers','reviews'])

AttributeError: 'int' object has no attribute 'reviews'

In [73]:
reviews

1064

In [74]:
reviews=int(reviews)

In [75]:
reviews

1064

In [76]:
pd.DataFrame([[date, subscribers. reviews]], columns=['date','subscribers','reviews'])

AttributeError: 'int' object has no attribute 'reviews'

In [77]:
type(reviews)

int

In [79]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date','subscribers','reviews'])
results

        date  subscribers  reviews
0  2020/4/29         7326     1064

In [80]:
pd.concat([df, results])#結合
#0となっているのは気にしなくてよい

          date  subscribers  reviews
0    2019/1/17         2671      194
1    2019/1/18         2671      195
2    2019/1/19         2674      197
3    2019/1/20         2685      199
4    2019/1/21         2695      199
..         ...          ...      ...
467  2020/4/25         7269     1048
468  2020/4/26         7276     1053
469  2020/4/27         7281     1055
470  2020/4/28         7290     1059
0    2020/4/29         7326     1064

[472 rows x 3 columns]

In [81]:
df = pd.concat([df, results])
df.tail()

          date  subscribers  reviews
467  2020/4/25         7269     1048
468  2020/4/26         7276     1053
469  2020/4/27         7281     1055
470  2020/4/28         7290     1059
0    2020/4/29         7326     1064

In [82]:
df.to_csv('assets/data.csv', index=False)
#index=Falseとすることで、一番左にある数字を消した状態で保存してくれる

## Udemyから情報を持ってくる関数('get_udemy_info')
## CSVから書き込む関数(write_data)

In [84]:
url='https://scraping-for-beginner.herokuapp.com/udemy'

r=requests.get(url)
r.text
soup=BeautifulSoup(r.text,'html.parser')

name=soup.select('.card-title')[0].string

n_subscribers=soup.select('.subscribers')[0].string
n_subscribers=int(n_subscribers.split('：')[1])
n_reviews=soup.select('.reviews')[0].string

n_reviews = int(n_reviews.split('：')[1])
results = {
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviews
}

results

{'name': '今西 航平', 'n_subscribers': 7328, 'n_reviews': 1064}

In [85]:
def get_udemy_info():
    url='https://scraping-for-beginner.herokuapp.com/udemy'

    r=requests.get(url)
    r.text
    soup=BeautifulSoup(r.text,'html.parser')

    name=soup.select('.card-title')[0].string

    n_subscribers=soup.select('.subscribers')[0].string
    n_subscribers=int(n_subscribers.split('：')[1])
    n_reviews=soup.select('.reviews')[0].string

    n_reviews = int(n_reviews.split('：')[1])
    results = {
        'name':name,
        'n_subscribers':n_subscribers,
        'n_reviews':n_reviews
    }

    return results

In [ ]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    #新規のデータ
    _results = get_udemy_info()

    #書き込むデータ
    date=datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
    subscribers = _results['n_subscribers']
    reviews= _results['n_reviews']

    results = pd.DataFrame([[date, subscribers. reviews]],columns=['date','subscribers','reviews'])

    df = pd.concat([df, results])
    df.to_csv('assets/data.csv', index=False)