In [1]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [2]:
#最初にデータベースの初期化をする必要があるので
init_db()

#これをすることで、asettsフォルダーの中に、data.dbが作られ初期化された

2020-05-01 14:05:55,591 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-05-01 14:05:55,597 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 14:05:55,601 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-05-01 14:05:55,602 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 14:05:55,607 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2020-05-01 14:05:55,611 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 14:05:55,615 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("data")
2020-05-01 14:05:55,619 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 14:05:55,625 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2020-05-01 14:05:55,628 INFO sqlalchemy.engine.base.Engine ()
2020-05-01 14:05:55,644 INFO sqlalchemy.engine.base.Engine COMMIT

## Create

In [4]:
date = datetime.date.today()
date

datetime.date(2020, 5, 1)

In [5]:
row = Data(date=date, subscribers=3500, reviews=200)

#models.pyのDataクラスを使っている
#1つのインスタンスとして、新たなデータを生成しただけで、保存はしていない

In [6]:
row

In [7]:
row.date

datetime.date(2020, 5, 1)

In [8]:
row.subscribers

3500

In [9]:
db_session.add(row)

In [10]:
db_session.commit()

2020-05-01 14:11:40,927 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 14:11:40,935 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 14:11:40,940 INFO sqlalchemy.engine.base.Engine ('2020-05-01', 3500, 200, '2020-05-01 14:05:38.010663')
2020-05-01 14:11:40,947 INFO sqlalchemy.engine.base.Engine COMMIT

### addしただけではだめで、コミットもすることで、ようやくデータベースに反映される

In [11]:
row1 = Data(date=date, subscribers=6500, reviews=210)
row2 = Data(date=date, subscribers=1500, reviews=220)

In [12]:
row2.subscribers

1500

In [13]:
db_session.add(row1)
db_session.add(row2)

In [14]:
db_session.commit()

#addは2つともやらないといけないが、commitはaddしたものをコミットするので一回で大丈夫

2020-05-01 14:14:10,569 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 14:14:10,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 14:14:10,574 INFO sqlalchemy.engine.base.Engine ('2020-05-01', 6500, 210, '2020-05-01 14:05:38.010663')
2020-05-01 14:14:10,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-05-01 14:14:10,582 INFO sqlalchemy.engine.base.Engine ('2020-05-01', 1500, 220, '2020-05-01 14:05:38.010663')
2020-05-01 14:14:10,586 INFO sqlalchemy.engine.base.Engine COMMIT

## Read

In [15]:
db_session.query(Data)

In [16]:
db_session.query(Data).all()

2020-05-01 14:15:43,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 14:15:43,371 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 14:15:43,373 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x24561c6fd48>,
 <assets.models.Data at 0x24561483ec8>,
 <assets.models.Data at 0x24561c9a048>]

In [17]:
db_session.query(Data).all()[0].subscribers

2020-05-01 14:16:04,299 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 14:16:04,301 INFO sqlalchemy.engine.base.Engine ()

3500

## Update

In [19]:
datum = db_session.query(Data).all()[0]
datum

2020-05-01 14:45:34,450 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 14:45:34,453 INFO sqlalchemy.engine.base.Engine ()

In [20]:
datum.subscribers =10000

In [21]:
db_session.add(datum)
db_session.commit()

2020-05-01 14:46:22,307 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2020-05-01 14:46:22,309 INFO sqlalchemy.engine.base.Engine (10000, 1)
2020-05-01 14:46:22,315 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
db_session.query(Data).all()[0].subscribers

2020-05-01 14:46:48,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 14:46:48,498 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 14:46:48,501 INFO sqlalchemy.engine.base.Engine ()

10000

## Delete

In [24]:
datum = db_session.query(Data).filter_by(subscribers=10000).one()
#filter_byで条件抽出している
#それを.datumに代入している

2020-05-01 15:27:34,121 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2020-05-01 15:27:34,125 INFO sqlalchemy.engine.base.Engine (10000,)

In [25]:
datum.subscribers

10000

In [27]:
db_session.delete(datum)
db_session.commit()

2020-05-01 15:29:07,971 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2020-05-01 15:29:07,975 INFO sqlalchemy.engine.base.Engine (1,)
2020-05-01 15:29:07,985 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
db_session.query(Data).all()

2020-05-01 15:29:25,340 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 15:29:25,345 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 15:29:25,349 INFO sqlalchemy.engine.base.Engine ()

In [29]:
len(db_session.query(Data).all())

2020-05-01 15:31:17,479 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-05-01 15:31:17,483 INFO sqlalchemy.engine.base.Engine ()

2

In [30]:
#データの削除
Data.query.delete()

2020-05-01 15:31:30,305 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2020-05-01 15:31:30,310 INFO sqlalchemy.engine.base.Engine ()

2