In [31]:
from assets import models

In [32]:
import pandas as pd

from assets.database import db_session

In [33]:
df = pd.read_csv('assets/data.csv')

In [34]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [35]:
#こうすることで、0行0列目の値を持ってくることができる
df.iloc[0,0]

'2019/1/17'

In [36]:
import datetime

In [37]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d')

datetime.datetime(2019, 1, 17, 0, 0)

In [38]:
datetime.datetime.strptime(df.iloc[0,0], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

In [39]:
#_dfは一行ずつとってくる
for index,_df in df.iterrows():
　　# date型への変更
    date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
    row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
    db_session.add(row)
db_session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) database is locked
[SQL: INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)]
[parameters: ('2019-01-17', 2671, 194, '2020-05-01 15:45:11.111198')]
(Background on this error at: http://sqlalche.me/e/e3q8) (Background on this error at: http://sqlalche.me/e/7s2a)

In [40]:
def read_data():
    from .assets import models
    df = pd.read_csv('assets/data.csv')

    #_dfは一行ずつとってくる
    for index,_df in df.iterrows():
    # date型への変更
        date= datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
        row = models.Data(date=date, subscribers=_df['subscribers'], reviews=_df['reviews'])
        db_session.add(row)
    db_session.commit()